In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_190124(12htrua) - Copy (6)\thoitrangnam\quannam"
os.listdir(path)

['tk_quannam_all.ipynb',
 'tk_ttn_qn.ipynb',
 'tk_ttn_qn_npage.ipynb',
 'tk_ttn_quannam_t1.csv',
 'tk_ttn_quannam_t10.csv',
 'tk_ttn_quannam_t11.csv',
 'tk_ttn_quannam_t12.csv',
 'tk_ttn_quannam_t13.csv',
 'tk_ttn_quannam_t14.csv',
 'tk_ttn_quannam_t15.csv',
 'tk_ttn_quannam_t16.csv',
 'tk_ttn_quannam_t17.csv',
 'tk_ttn_quannam_t18.csv',
 'tk_ttn_quannam_t19.csv',
 'tk_ttn_quannam_t2.csv',
 'tk_ttn_quannam_t20.csv',
 'tk_ttn_quannam_t21.csv',
 'tk_ttn_quannam_t22.csv',
 'tk_ttn_quannam_t23.csv',
 'tk_ttn_quannam_t24.csv',
 'tk_ttn_quannam_t25.csv',
 'tk_ttn_quannam_t26.csv',
 'tk_ttn_quannam_t27.csv',
 'tk_ttn_quannam_t28.csv',
 'tk_ttn_quannam_t29.csv',
 'tk_ttn_quannam_t3.csv',
 'tk_ttn_quannam_t30.csv',
 'tk_ttn_quannam_t31.csv',
 'tk_ttn_quannam_t32.csv',
 'tk_ttn_quannam_t33.csv',
 'tk_ttn_quannam_t34.csv',
 'tk_ttn_quannam_t35.csv',
 'tk_ttn_quannam_t36.csv',
 'tk_ttn_quannam_t37.csv',
 'tk_ttn_quannam_t38.csv',
 'tk_ttn_quannam_t39.csv',
 'tk_ttn_quannam_t4.csv',
 'tk_ttn_quannam_t40.csv',
 'tk_ttn_quannam_t41.csv',
 'tk_ttn_quannam_t42.csv',
 'tk_ttn_quannam_t43.csv',
 'tk_ttn_quannam_t44.csv',
 'tk_ttn_quannam_t45.csv',
 'tk_ttn_quannam_t46.csv',
 'tk_ttn_quannam_t47.csv',
 'tk_ttn_quannam_t48.csv',
 'tk_ttn_quannam_t49.csv',
 'tk_ttn_quannam_t5.csv',
 'tk_ttn_quannam_t50.csv',
 'tk_ttn_quannam_t6.csv',
 'tk_ttn_quannam_t7.csv',
 'tk_ttn_quannam_t8.csv',
 'tk_ttn_quannam_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_quannam_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"Set 2 quần đùi nam, quần Short Gió nam thê...",245.000₫,https://tka.tiki.vn/pixel/pixel?data=yJlihz0r5...,1,-39%,Đã bán 2.0k,quannam
1,"Combo 2 quần đùi nam, quần Short Gió nam t...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=SGKUfug2V...,2,-35%,Đã bán 707,quannam
2,"Quần Short Kaki Nam US ARMY, Quần Túi Hộp Nam ...",292.000₫,https://tka.tiki.vn/pixel/pixel?data=IsLvQnqF5...,3,-51%,Đã bán 226,quannam
3,Combo 2 quần đùi nam Cotton mặc nhà thoải...,99.000₫,https://tka.tiki.vn/pixel/pixel?data=oPLuimzo9...,4,NaN,NaN,quannam
4,NaN,NaN,https://tka.tiki.vn/pixel/pixel?data=yJocfHLra...,5,NaN,NaN,quannam
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/quan-ngu-nam-nu-vazco-q27-chat...,36,NaN,NaN,quannam
36,Quần Jean Nam Xanh Đậm Hàn Quốc XANHDAM52 - Xa...,134.000₫,https://tiki.vn/quan-jean-nam-xanh-dam-han-quo...,37,NaN,Đã bán 75,quannam
37,Quần kaki dài nam (Tặng 1 dây nịt cao cấp) chấ...,255.000₫,https://tiki.vn/quan-kaki-dai-nam-tang-1-day-n...,38,NaN,Đã bán 1,quannam
38,Quần body nam Quần short jean nam có giãn shor...,115.000₫,https://tiki.vn/quan-body-nam-quan-short-jean-...,39,NaN,Đã bán 4,quannam
39,Quần jean nam co giãn dáng suông đẹp màu xanh ...,240.000,https://tiki.vn/quan-jean-nam-co-gian-dang-suo...,40,NaN,Đã bán 2,quannam

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"Set 2 quần đùi nam, quần Short Gió nam thê...",245.000₫,https://tka.tiki.vn/pixel/pixel?data=yJlihz0r5...,-39%,Đã bán 2.0k,quannam
1,"Combo 2 quần đùi nam, quần Short Gió nam t...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=SGKUfug2V...,-35%,Đã bán 707,quannam
2,"Quần Short Kaki Nam US ARMY, Quần Túi Hộp Nam ...",292.000₫,https://tka.tiki.vn/pixel/pixel?data=IsLvQnqF5...,-51%,Đã bán 226,quannam
3,Quần đùi short gió nam thể thao Basic trẻ...,119.000₫,https://tiki.vn/qua-n-du-i-short-gio-nam-the-t...,-40%,Đã bán 2.6k,quannam
4,"Set 2 quần đùi nam, quần Short Gió nam thê...",245.000₫,https://tiki.vn/set-2-qua-n-du-i-nam-qua-n-sho...,-39%,Đã bán 2.0k,quannam
...,...,...,...,...,...,...
1002,Quần dài thể thao nam Jogger 3 sọc ống xuông t...,89.000₫,https://tiki.vn/quan-dai-the-thao-nam-jogger-3...,NaN,Đã bán 89,quannam
1003,Quần Jean Nam Xanh Đậm Hàn Quốc XANHDAM52 - Xa...,134.000₫,https://tiki.vn/quan-jean-nam-xanh-dam-han-quo...,NaN,Đã bán 75,quannam
1004,Quần kaki dài nam (Tặng 1 dây nịt cao cấp) chấ...,255.000₫,https://tiki.vn/quan-kaki-dai-nam-tang-1-day-n...,NaN,Đã bán 1,quannam
1005,Quần body nam Quần short jean nam có giãn shor...,115.000₫,https://tiki.vn/quan-body-nam-quan-short-jean-...,NaN,Đã bán 4,quannam
1006,Quần jean nam co giãn dáng suông đẹp màu xanh ...,240.000,https://tiki.vn/quan-jean-nam-co-gian-dang-suo...,NaN,Đã bán 2,quannam

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       245000
1       259000
2       292000
3       119000
4       245000
         ...
1002     89000
1003    134000
1004    255000
1005    115000
1006    240000
Name: price, Length: 1007, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0       2000.0
1        707.0
2        226.0
3       2600.0
4       2000.0
         ...
1002      89.0
1003      75.0
1004       1.0
1005       4.0
1006       2.0
Name: sales, Length: 1007, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       490000000.0
1       183113000.0
2        65992000.0
3       309400000.0
4       490000000.0
           ...
1002      7921000.0
1003     10050000.0
1004       255000.0
1005       460000.0
1006       480000.0
Name: revenue, Length: 1007, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số quannam: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số quannam:  10829459825.0
So mat hang da ban:  1007
So san pham da ban:  71977.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"Set 2 quần đùi nam, quần Short Gió nam thê...",245000,https://tka.tiki.vn/pixel/pixel?data=yJlihz0r5...,-39%,2000.0,quannam,490000000.0
1,"Combo 2 quần đùi nam, quần Short Gió nam t...",259000,https://tka.tiki.vn/pixel/pixel?data=SGKUfug2V...,-35%,707.0,quannam,183113000.0
2,"Quần Short Kaki Nam US ARMY, Quần Túi Hộp Nam ...",292000,https://tka.tiki.vn/pixel/pixel?data=IsLvQnqF5...,-51%,226.0,quannam,65992000.0
3,Quần đùi short gió nam thể thao Basic trẻ...,119000,https://tiki.vn/qua-n-du-i-short-gio-nam-the-t...,-40%,2600.0,quannam,309400000.0
4,"Set 2 quần đùi nam, quần Short Gió nam thê...",245000,https://tiki.vn/set-2-qua-n-du-i-nam-qua-n-sho...,-39%,2000.0,quannam,490000000.0
...,...,...,...,...,...,...,...
1002,Quần dài thể thao nam Jogger 3 sọc ống xuông t...,89000,https://tiki.vn/quan-dai-the-thao-nam-jogger-3...,NaN,89.0,quannam,7921000.0
1003,Quần Jean Nam Xanh Đậm Hàn Quốc XANHDAM52 - Xa...,134000,https://tiki.vn/quan-jean-nam-xanh-dam-han-quo...,NaN,75.0,quannam,10050000.0
1004,Quần kaki dài nam (Tặng 1 dây nịt cao cấp) chấ...,255000,https://tiki.vn/quan-kaki-dai-nam-tang-1-day-n...,NaN,1.0,quannam,255000.0
1005,Quần body nam Quần short jean nam có giãn shor...,115000,https://tiki.vn/quan-body-nam-quan-short-jean-...,NaN,4.0,quannam,460000.0
1006,Quần jean nam co giãn dáng suông đẹp màu xanh ...,240000,https://tiki.vn/quan-jean-nam-co-gian-dang-suo...,NaN,2.0,quannam,480000.0

In [15]:
df_all.to_csv("tk_quannam_all_ed.csv")