In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_160124(12hdem)\dochoi_mevabe\chuanbimangthai"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_chuanbimangthai.csv',
 'tk_chuanbimangthai_all.ipynb',
 'tk_mvb_chuanbimangthai.ipynb']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_chuanbimangthai_all.csv", index="False")

In [4]:
df_all

Empty DataFrame
Columns: [title, price, link_item, index, discount, sales, category]
Index: []

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

Empty DataFrame
Columns: [title, price, link_item, discount, sales, category]
Index: []

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

Series([], Name: price, dtype: int32)

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

Series([], Name: sales, dtype: object)

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

Series([], Name: revenue, dtype: object)

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số chuanbimangthai: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số chuanbimangthai:  0
So mat hang da ban:  0
So san pham da ban:  0

In [14]:
df_all

Empty DataFrame
Columns: [title, price, link_item, discount, sales, category, revenue]
Index: []

In [15]:
df_all.to_csv("tk_chuanbimangthai_all_ed.csv")