In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_170124(12htrua) - Copy (2)\thoitrangnam\dodoi"
os.listdir(path)

['tk_dodoi.ipynb',
 'tk_dodoi_all.ipynb',
 'tk_ttn_dodoinam_t10.csv',
 'tk_ttn_dodoinam_t11.csv',
 'tk_ttn_dodoinam_t12.csv',
 'tk_ttn_dodoinam_t13.csv',
 'tk_ttn_dodoinam_t14.csv',
 'tk_ttn_dodoinam_t15.csv',
 'tk_ttn_dodoinam_t16.csv',
 'tk_ttn_dodoinam_t2.csv',
 'tk_ttn_dodoinam_t3.csv',
 'tk_ttn_dodoinam_t4.csv',
 'tk_ttn_dodoinam_t5.csv',
 'tk_ttn_dodoinam_t6.csv',
 'tk_ttn_dodoinam_t7.csv',
 'tk_ttn_dodoinam_t8.csv',
 'tk_ttn_dodoinam_t9.csv',
 'tk_ttn_dodoi_npage.ipynb']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_dodoi_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Đồng Phục Đi Biển Cao Cấp - Áo & Quần Đủ Size ...,195.000₫,https://tiki.vn/dong-phuc-di-bien-cao-cap-ao-q...,1,NaN,NaN,dodoinam
1,Áo gia đình MY FAMILY - màu vàng đậm (GD992VD),91.000₫,https://tiki.vn/ao-gia-dinh-my-family-mau-vang...,2,NaN,NaN,dodoinam
2,Quần áo ĐI BIỂN đẹp - ĐỦ SIZE áo quần (DDB90),195.000₫,https://tiki.vn/quan-ao-di-bien-dep-du-size-ao...,3,NaN,NaN,dodoinam
3,Áo gia đình - XUÂN màu trắng,25.000₫,https://tiki.vn/ao-gia-dinh-xuan-mau-trang-p10...,4,NaN,NaN,dodoinam
4,NaN,NaN,https://tiki.vn/ao-gia-dinh-hinh-gau-p10554969...,5,NaN,NaN,dodoinam
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/dong-phuc-di-bien-p97930246.ht...,36,NaN,NaN,dodoinam
36,Áo Gia Đình - Family - Tim đỏ,25.000₫,https://tiki.vn/ao-gia-dinh-family-tim-do-p105...,37,NaN,NaN,dodoinam
37,Đồ Đi Biển Cao Cấp - Đủ Size Áo & Quần (DDB121),195.000₫,https://tiki.vn/do-di-bien-cao-cap-du-size-ao-...,38,NaN,NaN,dodoinam
38,"áo gia đình đẹp family we are ,kute,chất, bao ...",39.000₫,https://tiki.vn/ao-gia-dinh-dep-family-we-are-...,39,NaN,NaN,dodoinam
39,Đồ đi biển cho gia đình - ĐỦ SIZE áo và quần (...,195.000,https://tiki.vn/do-di-bien-cho-gia-dinh-du-siz...,40,NaN,NaN,dodoinam

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Áo thun gia đình Gia Đình Mickey ATGD25,50.000₫,https://tiki.vn/ao-thun-gia-dinh-gia-dinh-mick...,NaN,Đã bán 17,dodoinam
1,Áo thun gia đình Chồng Là Nhất Vợ Là Nhì Con L...,50.000₫,https://tiki.vn/ao-thun-gia-dinh-chong-la-nhat...,NaN,Đã bán 14,dodoinam
2,Áo thun gia đình Happy Summer ATGD23-Trắng,50.000₫,https://tiki.vn/ao-thun-gia-dinh-happy-summer-...,NaN,Đã bán 5,dodoinam
3,Áo thun gia đình Baby Shark ATGD71-Trắng,50.000₫,https://tiki.vn/ao-thun-gia-dinh-p101935162.ht...,NaN,Đã bán 34,dodoinam
4,Áo thun gia đình Happy Summer ATGD23-Vàng,50.000₫,https://tiki.vn/ao-thun-gia-dinh-happy-summer-...,NaN,Đã bán 1,dodoinam
...,...,...,...,...,...,...
94,"HOT! HOT! HOT! Áo thun đi biển áo nhóm, áo lớp...",19.500₫,https://tiki.vn/ao-thun-di-bien-nhom-lop-gia-d...,NaN,Đã bán 4,dodoinam
95,"Áo nhóm, Áo gia đình SIÊU KUTE",39.000₫,https://tiki.vn/ao-nhom-gia-dinh-sieu-kute-p10...,NaN,Đã bán 11,dodoinam
96,"{Đủ size} ÁO THUN NHÓM, ÁO GIA ĐÌNH, ÁO LỚP, Á...",49.000₫,https://tiki.vn/ao-thun-nhom-gia-dinh-lop-team...,NaN,Đã bán 7,dodoinam
97,"{FULL SIZE} Áo thun , áo phong, áo nhóm, áo lớ...",35.000₫,https://tiki.vn/ao-thun-nhom-lop-gia-dinh-mau-...,NaN,Đã bán 18,dodoinam
98,Áo gia đình THUN COTTON,59.000₫,https://tiki.vn/ao-gia-dinh-thun-cotton-p91925...,NaN,Đã bán 11,dodoinam

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0     50000
1     50000
2     50000
3     50000
4     50000
      ...
94    19500
95    39000
96    49000
97    35000
98    59000
Name: price, Length: 99, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0     17.0
1     14.0
2      5.0
3     34.0
4      1.0
      ...
94     4.0
95    11.0
96     7.0
97    18.0
98    11.0
Name: sales, Length: 99, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0      850000.0
1      700000.0
2      250000.0
3     1700000.0
4       50000.0
        ...
94      78000.0
95     429000.0
96     343000.0
97     630000.0
98     649000.0
Name: revenue, Length: 99, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số dodoi: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số dodoi:  51541400.0
So mat hang da ban:  99
So san pham da ban:  912.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Áo thun gia đình Gia Đình Mickey ATGD25,50000,https://tiki.vn/ao-thun-gia-dinh-gia-dinh-mick...,NaN,17.0,dodoinam,850000.0
1,Áo thun gia đình Chồng Là Nhất Vợ Là Nhì Con L...,50000,https://tiki.vn/ao-thun-gia-dinh-chong-la-nhat...,NaN,14.0,dodoinam,700000.0
2,Áo thun gia đình Happy Summer ATGD23-Trắng,50000,https://tiki.vn/ao-thun-gia-dinh-happy-summer-...,NaN,5.0,dodoinam,250000.0
3,Áo thun gia đình Baby Shark ATGD71-Trắng,50000,https://tiki.vn/ao-thun-gia-dinh-p101935162.ht...,NaN,34.0,dodoinam,1700000.0
4,Áo thun gia đình Happy Summer ATGD23-Vàng,50000,https://tiki.vn/ao-thun-gia-dinh-happy-summer-...,NaN,1.0,dodoinam,50000.0
...,...,...,...,...,...,...,...
94,"HOT! HOT! HOT! Áo thun đi biển áo nhóm, áo lớp...",19500,https://tiki.vn/ao-thun-di-bien-nhom-lop-gia-d...,NaN,4.0,dodoinam,78000.0
95,"Áo nhóm, Áo gia đình SIÊU KUTE",39000,https://tiki.vn/ao-nhom-gia-dinh-sieu-kute-p10...,NaN,11.0,dodoinam,429000.0
96,"{Đủ size} ÁO THUN NHÓM, ÁO GIA ĐÌNH, ÁO LỚP, Á...",49000,https://tiki.vn/ao-thun-nhom-gia-dinh-lop-team...,NaN,7.0,dodoinam,343000.0
97,"{FULL SIZE} Áo thun , áo phong, áo nhóm, áo lớ...",35000,https://tiki.vn/ao-thun-nhom-lop-gia-dinh-mau-...,NaN,18.0,dodoinam,630000.0
98,Áo gia đình THUN COTTON,59000,https://tiki.vn/ao-gia-dinh-thun-cotton-p91925...,NaN,11.0,dodoinam,649000.0

In [15]:
df_all.to_csv("tk_dodoi_all_ed.csv")