In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_180124(12htrua) - Copy (4)\thoitrangnam\quannam"
os.listdir(path)

['tk_quannam.csv',
 'tk_quannam_all.ipynb',
 'tk_ttn_qn.ipynb',
 'tk_ttn_qn_npage.ipynb',
 'tk_ttn_quannam_t1.csv',
 'tk_ttn_quannam_t10.csv',
 'tk_ttn_quannam_t11.csv',
 'tk_ttn_quannam_t12.csv',
 'tk_ttn_quannam_t13.csv',
 'tk_ttn_quannam_t14.csv',
 'tk_ttn_quannam_t15.csv',
 'tk_ttn_quannam_t16.csv',
 'tk_ttn_quannam_t17.csv',
 'tk_ttn_quannam_t18.csv',
 'tk_ttn_quannam_t19.csv',
 'tk_ttn_quannam_t2.csv',
 'tk_ttn_quannam_t20.csv',
 'tk_ttn_quannam_t21.csv',
 'tk_ttn_quannam_t22.csv',
 'tk_ttn_quannam_t23.csv',
 'tk_ttn_quannam_t24.csv',
 'tk_ttn_quannam_t25.csv',
 'tk_ttn_quannam_t26.csv',
 'tk_ttn_quannam_t27.csv',
 'tk_ttn_quannam_t28.csv',
 'tk_ttn_quannam_t29.csv',
 'tk_ttn_quannam_t3.csv',
 'tk_ttn_quannam_t30.csv',
 'tk_ttn_quannam_t31.csv',
 'tk_ttn_quannam_t32.csv',
 'tk_ttn_quannam_t33.csv',
 'tk_ttn_quannam_t34.csv',
 'tk_ttn_quannam_t35.csv',
 'tk_ttn_quannam_t36.csv',
 'tk_ttn_quannam_t37.csv',
 'tk_ttn_quannam_t38.csv',
 'tk_ttn_quannam_t39.csv',
 'tk_ttn_quannam_t4.csv',
 'tk_ttn_quannam_t40.csv',
 'tk_ttn_quannam_t41.csv',
 'tk_ttn_quannam_t42.csv',
 'tk_ttn_quannam_t43.csv',
 'tk_ttn_quannam_t44.csv',
 'tk_ttn_quannam_t45.csv',
 'tk_ttn_quannam_t46.csv',
 'tk_ttn_quannam_t47.csv',
 'tk_ttn_quannam_t48.csv',
 'tk_ttn_quannam_t49.csv',
 'tk_ttn_quannam_t5.csv',
 'tk_ttn_quannam_t50.csv',
 'tk_ttn_quannam_t6.csv',
 'tk_ttn_quannam_t7.csv',
 'tk_ttn_quannam_t8.csv',
 'tk_ttn_quannam_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_quannam_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Quần đùi short gió nam thể thao Basic trẻ...,118.000₫,https://tka.tiki.vn/pixel/pixel?data=g1N2VemTc...,1,-41%,Đã bán 2.6k,quannam
1,"Combo 2 quần đùi nam, quần Short Gió nam t...",258.000₫,https://tka.tiki.vn/pixel/pixel?data=tfZTcvlY6...,2,-35%,Đã bán 707,quannam
2,"Set 2 quần đùi nam, quần Short Gió nam thê...",244.000₫,https://tka.tiki.vn/pixel/pixel?data=4ZOxHltfR...,3,-39%,Đã bán 2.0k,quannam
3,Quần kaki nam ( Tặng 1 dây nịt da hàng hiệu) c...,199.000₫,https://tka.tiki.vn/pixel/pixel?data=IqNEoBfKQ...,4,-43%,Đã bán 104,quannam
4,"Quần jogger kaki cao cấp Amazing, lưng thun có...",221.000₫,https://tka.tiki.vn/pixel/pixel?data=njFRqjwT3...,5,-40%,Đã bán 422,quannam
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/quan-jean-nam-mau-xanh-thuong-...,36,NaN,NaN,quannam
36,Quần Tây Nam Dáng Ôm Chất Liệu Vải Mềm Mịn Khh...,93.000₫,https://tiki.vn/quan-tay-nam-dang-om-chat-lieu...,37,NaN,Đã bán 144,quannam
37,Viettien - Quần Jeans nam dài Regular fit Màu ...,823.200₫,https://tiki.vn/viettien-quan-jeans-nam-dai-re...,38,NaN,Đã bán 1,quannam
38,Quần Jean Nam Trắng Trơn cao cấp thương hiệu C...,169.000₫,https://tiki.vn/quan-jean-nam-trang-tron-cao-c...,39,NaN,Đã bán 1,quannam
39,"Quần jogger nam kaki dáng ôm body trẻ trung, ố...",85.000₫,https://tiki.vn/quan-jogger-nam-kaki-dang-om-b...,40,NaN,NaN,quannam

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Quần đùi short gió nam thể thao Basic trẻ...,118.000₫,https://tka.tiki.vn/pixel/pixel?data=g1N2VemTc...,-41%,Đã bán 2.6k,quannam
1,"Combo 2 quần đùi nam, quần Short Gió nam t...",258.000₫,https://tka.tiki.vn/pixel/pixel?data=tfZTcvlY6...,-35%,Đã bán 707,quannam
2,"Set 2 quần đùi nam, quần Short Gió nam thê...",244.000₫,https://tka.tiki.vn/pixel/pixel?data=4ZOxHltfR...,-39%,Đã bán 2.0k,quannam
3,Quần kaki nam ( Tặng 1 dây nịt da hàng hiệu) c...,199.000₫,https://tka.tiki.vn/pixel/pixel?data=IqNEoBfKQ...,-43%,Đã bán 104,quannam
4,"Quần jogger kaki cao cấp Amazing, lưng thun có...",221.000₫,https://tka.tiki.vn/pixel/pixel?data=njFRqjwT3...,-40%,Đã bán 422,quannam
...,...,...,...,...,...,...
1058,Quần Jean nam Leman xanh bạc rách JD18 - Slim ...,384.000₫,https://tiki.vn/quan-jean-nam-leman-xanh-bac-r...,NaN,Đã bán 25,quannam
1059,Bộ Đồ Nam - Bộ Nỉ Nam Thu Đông Thể Thao Chất N...,300.000,https://tiki.vn/bo-do-nam-bo-ni-nam-thu-dong-t...,NaN,Đã bán 3,quannam
1060,Quần Tây Nam Dáng Ôm Chất Liệu Vải Mềm Mịn Khh...,93.000₫,https://tiki.vn/quan-tay-nam-dang-om-chat-lieu...,NaN,Đã bán 144,quannam
1061,Viettien - Quần Jeans nam dài Regular fit Màu ...,823.200₫,https://tiki.vn/viettien-quan-jeans-nam-dai-re...,NaN,Đã bán 1,quannam
1062,Quần Jean Nam Trắng Trơn cao cấp thương hiệu C...,169.000₫,https://tiki.vn/quan-jean-nam-trang-tron-cao-c...,NaN,Đã bán 1,quannam

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       118000
1       258000
2       244000
3       199000
4       221000
         ...
1058    384000
1059    300000
1060     93000
1061    823200
1062    169000
Name: price, Length: 1063, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0       2600.0
1        707.0
2       2000.0
3        104.0
4        422.0
         ...
1058      25.0
1059       3.0
1060     144.0
1061       1.0
1062       1.0
Name: sales, Length: 1063, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       306800000.0
1       182406000.0
2       488000000.0
3        20696000.0
4        93262000.0
           ...
1058      9600000.0
1059       900000.0
1060     13392000.0
1061       823200.0
1062       169000.0
Name: revenue, Length: 1063, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số quannam: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số quannam:  16495537303.0
So mat hang da ban:  1063
So san pham da ban:  109726.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Quần đùi short gió nam thể thao Basic trẻ...,118000,https://tka.tiki.vn/pixel/pixel?data=g1N2VemTc...,-41%,2600.0,quannam,306800000.0
1,"Combo 2 quần đùi nam, quần Short Gió nam t...",258000,https://tka.tiki.vn/pixel/pixel?data=tfZTcvlY6...,-35%,707.0,quannam,182406000.0
2,"Set 2 quần đùi nam, quần Short Gió nam thê...",244000,https://tka.tiki.vn/pixel/pixel?data=4ZOxHltfR...,-39%,2000.0,quannam,488000000.0
3,Quần kaki nam ( Tặng 1 dây nịt da hàng hiệu) c...,199000,https://tka.tiki.vn/pixel/pixel?data=IqNEoBfKQ...,-43%,104.0,quannam,20696000.0
4,"Quần jogger kaki cao cấp Amazing, lưng thun có...",221000,https://tka.tiki.vn/pixel/pixel?data=njFRqjwT3...,-40%,422.0,quannam,93262000.0
...,...,...,...,...,...,...,...
1058,Quần Jean nam Leman xanh bạc rách JD18 - Slim ...,384000,https://tiki.vn/quan-jean-nam-leman-xanh-bac-r...,NaN,25.0,quannam,9600000.0
1059,Bộ Đồ Nam - Bộ Nỉ Nam Thu Đông Thể Thao Chất N...,300000,https://tiki.vn/bo-do-nam-bo-ni-nam-thu-dong-t...,NaN,3.0,quannam,900000.0
1060,Quần Tây Nam Dáng Ôm Chất Liệu Vải Mềm Mịn Khh...,93000,https://tiki.vn/quan-tay-nam-dang-om-chat-lieu...,NaN,144.0,quannam,13392000.0
1061,Viettien - Quần Jeans nam dài Regular fit Màu ...,823200,https://tiki.vn/viettien-quan-jeans-nam-dai-re...,NaN,1.0,quannam,823200.0
1062,Quần Jean Nam Trắng Trơn cao cấp thương hiệu C...,169000,https://tiki.vn/quan-jean-nam-trang-tron-cao-c...,NaN,1.0,quannam,169000.0

In [15]:
df_all.to_csv("tk_quannam_all_ed.csv")