In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_160124(12htrua)\thoitrangnam\aohoodie"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aohoodie.csv',
 'tk_aohoodie_all.ipynb',
 'tk_ttnam_aohoodie.ipynb',
 'tk_ttnam_aohoodie_npage.ipynb',
 'tk_ttnam_aohoodie_t10.csv',
 'tk_ttnam_aohoodie_t11.csv',
 'tk_ttnam_aohoodie_t12.csv',
 'tk_ttnam_aohoodie_t13.csv',
 'tk_ttnam_aohoodie_t14.csv',
 'tk_ttnam_aohoodie_t15.csv',
 'tk_ttnam_aohoodie_t16.csv',
 'tk_ttnam_aohoodie_t17.csv',
 'tk_ttnam_aohoodie_t18.csv',
 'tk_ttnam_aohoodie_t19.csv',
 'tk_ttnam_aohoodie_t20.csv',
 'tk_ttnam_aohoodie_t21.csv',
 'tk_ttnam_aohoodie_t22.csv',
 'tk_ttnam_aohoodie_t23.csv',
 'tk_ttnam_aohoodie_t24.csv',
 'tk_ttnam_aohoodie_t25.csv',
 'tk_ttnam_aohoodie_t26.csv',
 'tk_ttnam_aohoodie_t27.csv',
 'tk_ttnam_aohoodie_t28.csv',
 'tk_ttnam_aohoodie_t29.csv',
 'tk_ttnam_aohoodie_t3.csv',
 'tk_ttnam_aohoodie_t30.csv',
 'tk_ttnam_aohoodie_t31.csv',
 'tk_ttnam_aohoodie_t32.csv',
 'tk_ttnam_aohoodie_t33.csv',
 'tk_ttnam_aohoodie_t34.csv',
 'tk_ttnam_aohoodie_t35.csv',
 'tk_ttnam_aohoodie_t36.csv',
 'tk_ttnam_aohoodie_t4.csv',
 'tk_ttnam_aohoodie_t5.csv',
 'tk_ttnam_aohoodie_t6.csv',
 'tk_ttnam_aohoodie_t7.csv',
 'tk_ttnam_aohoodie_t8.csv',
 'tk_ttnam_aohoodie_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aohoodie_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Áo hoodie nam nữ form rộng Unisex một màu in h...,179.000₫,https://tka.tiki.vn/pixel/pixel?data=89qe4o7GK...,1,-10%,Đã bán 923,aohoodie
1,Bộ nỉ nam kéo khóa ALIGRO màu navy BN.19,950.000₫,https://tka.tiki.vn/pixel/pixel?data=bkjQeGluo...,2,-30%,NaN,aohoodie
2,Bộ nỉ ALIGRO cổ tròn màu xanh rêu BN.12,595.000₫,https://tka.tiki.vn/pixel/pixel?data=Qmb2QWyQZ...,3,-30%,NaN,aohoodie
3,Bộ nỉ ALIGRO cổ tròn màu navy BN.11,595.000₫,https://tka.tiki.vn/pixel/pixel?data=xcrT1IZ6S...,4,-30%,NaN,aohoodie
4,Bộ nỉ ALIGRO cổ tròn màu ghi đậm BN.13,595.000₫,https://tka.tiki.vn/pixel/pixel?data=sMa6vWvae...,5,-36%,NaN,aohoodie
...,...,...,...,...,...,...,...
35,Áo Nỉ Nam Nữ Nhiều Màu Đủ Size,100.000₫,https://tiki.vn/ao-ni-nam-nu-nhieu-mau-du-size...,36,NaN,NaN,aohoodie
36,Áo Khoác Hoodie In Chữ Phong Cách Âu Mỹ Cho Cặ...,117.000₫,https://tiki.vn/ao-khoac-hoodie-in-chu-phong-c...,37,NaN,NaN,aohoodie
37,1 bộ quần áo thể thao nỉ thời trang nam nữ mas...,99.000₫,https://tiki.vn/1-bo-quan-ao-the-thao-ni-thoi-...,38,NaN,NaN,aohoodie
38,Áo HOODIE dài tay_Lightweight dài tay màu sắc ...,699.000₫,https://tiki.vn/ao-hoodie-dai-tay_phong-cach-t...,39,NaN,NaN,aohoodie
39,Áo Hoodie Local Brand Unisex STAY AWAY nỉ bông...,219.000₫,https://tiki.vn/ao-hoodie-local-brand-unisex-s...,40,NaN,NaN,aohoodie

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Áo hoodie nam nữ form rộng Unisex một màu in h...,179.000₫,https://tka.tiki.vn/pixel/pixel?data=89qe4o7GK...,-10%,Đã bán 923,aohoodie
1,Áo hoodie nam nữ form rộng Unisex một màu in h...,127.000₫,https://tiki.vn/ao-hoodie-nam-nu-form-rong-uni...,-54%,Đã bán 923,aohoodie
2,Áo hoodie nỉ bông unisex Homies liền mũ có túi...,100.000₫,https://tiki.vn/ao-hoodie-ni-bong-unisex-homie...,-50%,Đã bán 143,aohoodie
3,"Áo hoodie, áo sweater thời trang unisex, phong...",88.000₫,https://tiki.vn/ao-hoodie-ao-sweater-thoi-tran...,-30%,Đã bán 10,aohoodie
4,"Áo hoodie trơn màu đen thời trang trẻ trung, n...",124.000₫,https://tiki.vn/ao-hoodie-tron-mau-den-thoi-tr...,-30%,Đã bán 463,aohoodie
...,...,...,...,...,...,...
347,Áo hoodie unisex ulzzang trơn LADOS - 9064 chấ...,249.000₫,https://tiki.vn/ao-hoodie-unisex-ulzzang-tron-...,NaN,Đã bán 2,aohoodie
348,Áo hoodie nỉ bông form rộng unisex cotton mịn ...,299.000₫,https://tiki.vn/ao-hoodie-ni-bong-form-rong-un...,NaN,Đã bán 1,aohoodie
349,Áo Sweater Áo nỉ da cá cổ tròn xuất Nhật chất ...,92.000₫,https://tiki.vn/ao-sweater-ao-ni-da-ca-co-tron...,NaN,Đã bán 5,aohoodie
350,Áo Hoodie Basic nỉ bông Unisex màu trắng,91.000₫,https://tiki.vn/ao-hoodie-basic-ni-bong-unisex...,NaN,Đã bán 6,aohoodie
351,Áo thun sweater nam nữ in quả cầu,93.000₫,https://tiki.vn/ao-thun-sweater-nam-nu-in-qua-...,NaN,Đã bán 1,aohoodie

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0      179000
1      127000
2      100000
3       88000
4      124000
        ...
347    249000
348    299000
349     92000
350     91000
351     93000
Name: price, Length: 352, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0      923.0
1      923.0
2      143.0
3       10.0
4      463.0
       ...
347      2.0
348      1.0
349      5.0
350      6.0
351      1.0
Name: sales, Length: 352, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0      165217000.0
1      117221000.0
2       14300000.0
3         880000.0
4       57412000.0
          ...
347       498000.0
348       299000.0
349       460000.0
350       546000.0
351        93000.0
Name: revenue, Length: 352, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aohoodie: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aohoodie:  833995780.0
So mat hang da ban:  352
So san pham da ban:  6482.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Áo hoodie nam nữ form rộng Unisex một màu in h...,179000,https://tka.tiki.vn/pixel/pixel?data=89qe4o7GK...,-10%,923.0,aohoodie,165217000.0
1,Áo hoodie nam nữ form rộng Unisex một màu in h...,127000,https://tiki.vn/ao-hoodie-nam-nu-form-rong-uni...,-54%,923.0,aohoodie,117221000.0
2,Áo hoodie nỉ bông unisex Homies liền mũ có túi...,100000,https://tiki.vn/ao-hoodie-ni-bong-unisex-homie...,-50%,143.0,aohoodie,14300000.0
3,"Áo hoodie, áo sweater thời trang unisex, phong...",88000,https://tiki.vn/ao-hoodie-ao-sweater-thoi-tran...,-30%,10.0,aohoodie,880000.0
4,"Áo hoodie trơn màu đen thời trang trẻ trung, n...",124000,https://tiki.vn/ao-hoodie-tron-mau-den-thoi-tr...,-30%,463.0,aohoodie,57412000.0
...,...,...,...,...,...,...,...
347,Áo hoodie unisex ulzzang trơn LADOS - 9064 chấ...,249000,https://tiki.vn/ao-hoodie-unisex-ulzzang-tron-...,NaN,2.0,aohoodie,498000.0
348,Áo hoodie nỉ bông form rộng unisex cotton mịn ...,299000,https://tiki.vn/ao-hoodie-ni-bong-form-rong-un...,NaN,1.0,aohoodie,299000.0
349,Áo Sweater Áo nỉ da cá cổ tròn xuất Nhật chất ...,92000,https://tiki.vn/ao-sweater-ao-ni-da-ca-co-tron...,NaN,5.0,aohoodie,460000.0
350,Áo Hoodie Basic nỉ bông Unisex màu trắng,91000,https://tiki.vn/ao-hoodie-basic-ni-bong-unisex...,NaN,6.0,aohoodie,546000.0
351,Áo thun sweater nam nữ in quả cầu,93000,https://tiki.vn/ao-thun-sweater-nam-nu-in-qua-...,NaN,1.0,aohoodie,93000.0

In [15]:
df_all.to_csv("tk_aohoodie_all_ed.csv")