In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_160124(12hdem)\thoitrangnam\aothunnam"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aothun.csv',
 'tk_aothun_all.ipynb',
 'tk_ttnam_aothun.ipynb',
 'tk_ttnam_aothun_npage.ipynb',
 'tk_ttnam_aothun_t10.csv',
 'tk_ttnam_aothun_t11.csv',
 'tk_ttnam_aothun_t12.csv',
 'tk_ttnam_aothun_t13.csv',
 'tk_ttnam_aothun_t14.csv',
 'tk_ttnam_aothun_t15.csv',
 'tk_ttnam_aothun_t16.csv',
 'tk_ttnam_aothun_t17.csv',
 'tk_ttnam_aothun_t18.csv',
 'tk_ttnam_aothun_t19.csv',
 'tk_ttnam_aothun_t2.csv',
 'tk_ttnam_aothun_t20.csv',
 'tk_ttnam_aothun_t21.csv',
 'tk_ttnam_aothun_t22.csv',
 'tk_ttnam_aothun_t23.csv',
 'tk_ttnam_aothun_t24.csv',
 'tk_ttnam_aothun_t25.csv',
 'tk_ttnam_aothun_t26.csv',
 'tk_ttnam_aothun_t27.csv',
 'tk_ttnam_aothun_t28.csv',
 'tk_ttnam_aothun_t29.csv',
 'tk_ttnam_aothun_t3.csv',
 'tk_ttnam_aothun_t30.csv',
 'tk_ttnam_aothun_t31.csv',
 'tk_ttnam_aothun_t32.csv',
 'tk_ttnam_aothun_t33.csv',
 'tk_ttnam_aothun_t34.csv',
 'tk_ttnam_aothun_t35.csv',
 'tk_ttnam_aothun_t36.csv',
 'tk_ttnam_aothun_t37.csv',
 'tk_ttnam_aothun_t38.csv',
 'tk_ttnam_aothun_t39.csv',
 'tk_ttnam_aothun_t4.csv',
 'tk_ttnam_aothun_t40.csv',
 'tk_ttnam_aothun_t41.csv',
 'tk_ttnam_aothun_t42.csv',
 'tk_ttnam_aothun_t43.csv',
 'tk_ttnam_aothun_t44.csv',
 'tk_ttnam_aothun_t45.csv',
 'tk_ttnam_aothun_t46.csv',
 'tk_ttnam_aothun_t47.csv',
 'tk_ttnam_aothun_t48.csv',
 'tk_ttnam_aothun_t49.csv',
 'tk_ttnam_aothun_t5.csv',
 'tk_ttnam_aothun_t50.csv',
 'tk_ttnam_aothun_t6.csv',
 'tk_ttnam_aothun_t7.csv',
 'tk_ttnam_aothun_t8.csv',
 'tk_ttnam_aothun_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aothunnam_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"Áo Polo nam cổ bẻ ngắn tay, chất liệu vải cá s...",179.000₫,https://tka.tiki.vn/pixel/pixel?data=K3fy51Q1B...,1,-28%,Đã bán 879,aothun
1,"Áo thun dễ thương Songoku Dragon Ball, mã DB15...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=iWhrZefN9...,2,-44%,Đã bán 1,aothun
2,"NEW DOORS, mã G33. Áo thun hàng hiệu Goking, f...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=qA7geRWNZ...,3,-12%,Đã bán 27,aothun
3,"Lục sắc, mã Goking1. Áo thun hàng hiệu cao cấp...",99.000₫,https://tka.tiki.vn/pixel/pixel?data=2QFO6obYu...,4,-21%,Đã bán 11,aothun
4,"Combo 2 Áo phông ba lỗ thoát nhiệt Nhật Bản , ...",258.000₫,https://tka.tiki.vn/pixel/pixel?data=-DR6a4-v3...,5,-25%,Đã bán 360,aothun
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/ao-thun-tron-nam-form-rong-vai...,36,NaN,NaN,aothun
36,Áo Phông Nam Polo Tay Ngắn Phối Màu Thời Trang...,189.000₫,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,37,NaN,Đã bán 264,aothun
37,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,38,NaN,Đã bán 2,aothun
38,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,39,NaN,Đã bán 3,aothun
39,MLB - Áo thun unisex cổ tròn tay ngắn Monotive...,1.790.000,https://tiki.vn/mlb-ao-thun-unisex-co-tron-tay...,40,NaN,NaN,aothun

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"Áo Polo nam cổ bẻ ngắn tay, chất liệu vải cá s...",179.000₫,https://tka.tiki.vn/pixel/pixel?data=K3fy51Q1B...,-28%,Đã bán 879,aothun
1,"Áo thun dễ thương Songoku Dragon Ball, mã DB15...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=iWhrZefN9...,-44%,Đã bán 1,aothun
2,"NEW DOORS, mã G33. Áo thun hàng hiệu Goking, f...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=qA7geRWNZ...,-12%,Đã bán 27,aothun
3,"Lục sắc, mã Goking1. Áo thun hàng hiệu cao cấp...",99.000₫,https://tka.tiki.vn/pixel/pixel?data=2QFO6obYu...,-21%,Đã bán 11,aothun
4,"Combo 2 Áo phông ba lỗ thoát nhiệt Nhật Bản , ...",258.000₫,https://tka.tiki.vn/pixel/pixel?data=-DR6a4-v3...,-25%,Đã bán 360,aothun
...,...,...,...,...,...,...
919,Áo Thun Có Cổ Nam Giordano Luxury Touch Polo 0...,310.000₫,https://tiki.vn/ao-thun-co-co-nam-giordano-lux...,NaN,Đã bán 11,aothun
920,Combo 2 Áo thun thể thao nam MRM Active Pro th...,219.000₫,https://tiki.vn/combo-2-ao-thun-the-thao-nam-m...,NaN,Đã bán 125,aothun
921,Áo Phông Nam Polo Tay Ngắn Phối Màu Thời Trang...,189.000₫,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,NaN,Đã bán 264,aothun
922,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,Đã bán 2,aothun
923,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,Đã bán 3,aothun

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0      179000
1      119000
2      119000
3       99000
4      258000
        ...
919    310000
920    219000
921    189000
922    389000
923     39000
Name: price, Length: 924, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0      879.0
1        1.0
2       27.0
3       11.0
4      360.0
       ...
919     11.0
920    125.0
921    264.0
922      2.0
923      3.0
Name: sales, Length: 924, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0      157341000.0
1         119000.0
2        3213000.0
3        1089000.0
4       92880000.0
          ...
919      3410000.0
920     27375000.0
921     49896000.0
922       778000.0
923       117000.0
Name: revenue, Length: 924, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aothunnam: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aothunnam:  8180973878.0
So mat hang da ban:  924
So san pham da ban:  59851.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"Áo Polo nam cổ bẻ ngắn tay, chất liệu vải cá s...",179000,https://tka.tiki.vn/pixel/pixel?data=K3fy51Q1B...,-28%,879.0,aothun,157341000.0
1,"Áo thun dễ thương Songoku Dragon Ball, mã DB15...",119000,https://tka.tiki.vn/pixel/pixel?data=iWhrZefN9...,-44%,1.0,aothun,119000.0
2,"NEW DOORS, mã G33. Áo thun hàng hiệu Goking, f...",119000,https://tka.tiki.vn/pixel/pixel?data=qA7geRWNZ...,-12%,27.0,aothun,3213000.0
3,"Lục sắc, mã Goking1. Áo thun hàng hiệu cao cấp...",99000,https://tka.tiki.vn/pixel/pixel?data=2QFO6obYu...,-21%,11.0,aothun,1089000.0
4,"Combo 2 Áo phông ba lỗ thoát nhiệt Nhật Bản , ...",258000,https://tka.tiki.vn/pixel/pixel?data=-DR6a4-v3...,-25%,360.0,aothun,92880000.0
...,...,...,...,...,...,...,...
919,Áo Thun Có Cổ Nam Giordano Luxury Touch Polo 0...,310000,https://tiki.vn/ao-thun-co-co-nam-giordano-lux...,NaN,11.0,aothun,3410000.0
920,Combo 2 Áo thun thể thao nam MRM Active Pro th...,219000,https://tiki.vn/combo-2-ao-thun-the-thao-nam-m...,NaN,125.0,aothun,27375000.0
921,Áo Phông Nam Polo Tay Ngắn Phối Màu Thời Trang...,189000,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,NaN,264.0,aothun,49896000.0
922,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389000,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,2.0,aothun,778000.0
923,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39000,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,3.0,aothun,117000.0

In [15]:
df_all.to_csv("tk_aothunnam_all_ed.csv")