In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_160124(12hdem)\thoitrangnam\aohoodie"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aohoodie.csv',
 'tk_aohoodie_all.ipynb',
 'tk_ttnam_aohoodie.ipynb',
 'tk_ttnam_aohoodie_npage.ipynb',
 'tk_ttnam_aohoodie_t10.csv',
 'tk_ttnam_aohoodie_t11.csv',
 'tk_ttnam_aohoodie_t12.csv',
 'tk_ttnam_aohoodie_t13.csv',
 'tk_ttnam_aohoodie_t14.csv',
 'tk_ttnam_aohoodie_t15.csv',
 'tk_ttnam_aohoodie_t16.csv',
 'tk_ttnam_aohoodie_t17.csv',
 'tk_ttnam_aohoodie_t18.csv',
 'tk_ttnam_aohoodie_t19.csv',
 'tk_ttnam_aohoodie_t2.csv',
 'tk_ttnam_aohoodie_t20.csv',
 'tk_ttnam_aohoodie_t21.csv',
 'tk_ttnam_aohoodie_t22.csv',
 'tk_ttnam_aohoodie_t23.csv',
 'tk_ttnam_aohoodie_t24.csv',
 'tk_ttnam_aohoodie_t25.csv',
 'tk_ttnam_aohoodie_t26.csv',
 'tk_ttnam_aohoodie_t27.csv',
 'tk_ttnam_aohoodie_t28.csv',
 'tk_ttnam_aohoodie_t29.csv',
 'tk_ttnam_aohoodie_t3.csv',
 'tk_ttnam_aohoodie_t30.csv',
 'tk_ttnam_aohoodie_t31.csv',
 'tk_ttnam_aohoodie_t32.csv',
 'tk_ttnam_aohoodie_t33.csv',
 'tk_ttnam_aohoodie_t34.csv',
 'tk_ttnam_aohoodie_t35.csv',
 'tk_ttnam_aohoodie_t36.csv',
 'tk_ttnam_aohoodie_t4.csv',
 'tk_ttnam_aohoodie_t5.csv',
 'tk_ttnam_aohoodie_t6.csv',
 'tk_ttnam_aohoodie_t7.csv',
 'tk_ttnam_aohoodie_t8.csv',
 'tk_ttnam_aohoodie_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aohoodie_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Áo hoodie nam nữ form rộng Unisex một màu in h...,129.000₫,https://tka.tiki.vn/pixel/pixel?data=kFBrn5ts6...,1,-35%,Đã bán 923,aohoodie
1,Bộ nỉ ALIGRO cổ tròn màu xanh rêu BN.12,595.000₫,https://tka.tiki.vn/pixel/pixel?data=TRkGO908n...,2,-30%,NaN,aohoodie
2,Bộ nỉ hoddie ALIGRO kéo khóa có mũ màu navy BN.15,805.000₫,https://tka.tiki.vn/pixel/pixel?data=HfRvfFp-a...,3,-30%,NaN,aohoodie
3,Bộ nỉ kéo khóa ALIGRO có mũ màu ghi nhạt BN.18,805.000₫,https://tka.tiki.vn/pixel/pixel?data=RUwHBLUJ7...,4,-30%,NaN,aohoodie
4,Bộ nỉ hoddie nam ALIGRO kéo khóa có mũ màu ghi...,805.000₫,https://tka.tiki.vn/pixel/pixel?data=D1asfOBHI...,5,-30%,NaN,aohoodie
...,...,...,...,...,...,...,...
35,Áo HOODIE dài tay_Lightweight dài tay màu sắc ...,699.000₫,https://tiki.vn/ao-hoodie-dai-tay_phong-cach-t...,36,NaN,NaN,aohoodie
36,Áo Hoodie Local Brand Unisex STAY AWAY nỉ bông...,219.000₫,https://tiki.vn/ao-hoodie-local-brand-unisex-s...,37,NaN,NaN,aohoodie
37,Bộ nỉ cổ tròn màu ghi nhạt ALIGRO BN.14,595.000₫,https://tiki.vn/bo-ni-co-tron-mau-ghi-nhat-ali...,38,NaN,NaN,aohoodie
38,Áo hoddie màu nam nữ,104.000₫,https://tiki.vn/ao-hoddie-mau-nam-nu-p37170710...,39,NaN,Đã bán 14,aohoodie
39,Áo Hoodie Nỉ Cotton Đen Trơn Đủ Size S M L XL ...,99.000₫,https://tiki.vn/ao-hoodie-ni-cotton-den-tron-d...,40,NaN,Đã bán 84,aohoodie

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Áo hoodie nam nữ form rộng Unisex một màu in h...,129.000₫,https://tka.tiki.vn/pixel/pixel?data=kFBrn5ts6...,-35%,Đã bán 923,aohoodie
1,Áo hoodie nam nữ form rộng Unisex một màu in h...,127.000₫,https://tiki.vn/ao-hoodie-nam-nu-form-rong-uni...,-36%,Đã bán 923,aohoodie
2,Áo hoodie nỉ bông unisex Homies liền mũ có túi...,100.000₫,https://tiki.vn/ao-hoodie-ni-bong-unisex-homie...,-30%,Đã bán 143,aohoodie
3,"Áo hoodie, áo sweater thời trang unisex, phong...",190.000₫,https://tiki.vn/ao-hoodie-ao-sweater-thoi-tran...,-30%,Đã bán 10,aohoodie
4,"Áo hoodie nam nữ form rộng siêu xinh , Áo khoá...",110.000₫,https://tiki.vn/ao-hoodie-nam-nu-form-rong-sie...,-30%,Đã bán 23,aohoodie
...,...,...,...,...,...,...
374,Áo Sweater Áo nỉ da cá cổ tròn xuất Nhật chất ...,92.000₫,https://tiki.vn/ao-sweater-ao-ni-da-ca-co-tron...,NaN,Đã bán 5,aohoodie
375,Áo Hoodie Basic nỉ bông Unisex màu trắng,91.000₫,https://tiki.vn/ao-hoodie-basic-ni-bong-unisex...,NaN,Đã bán 6,aohoodie
376,Áo thun sweater nam nữ in quả cầu,93.000₫,https://tiki.vn/ao-thun-sweater-nam-nu-in-qua-...,NaN,Đã bán 1,aohoodie
377,Áo hoddie màu nam nữ,104.000₫,https://tiki.vn/ao-hoddie-mau-nam-nu-p37170710...,NaN,Đã bán 14,aohoodie
378,Áo Hoodie Nỉ Cotton Đen Trơn Đủ Size S M L XL ...,99.000₫,https://tiki.vn/ao-hoodie-ni-cotton-den-tron-d...,NaN,Đã bán 84,aohoodie

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0      129000
1      127000
2      100000
3      190000
4      110000
        ...
374     92000
375     91000
376     93000
377    104000
378     99000
Name: price, Length: 379, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0      923.0
1      923.0
2      143.0
3       10.0
4       23.0
       ...
374      5.0
375      6.0
376      1.0
377     14.0
378     84.0
Name: sales, Length: 379, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0      119067000.0
1      117221000.0
2       14300000.0
3        1900000.0
4        2530000.0
          ...
374       460000.0
375       546000.0
376        93000.0
377      1456000.0
378      8316000.0
Name: revenue, Length: 379, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aohoodie: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aohoodie:  900616280.0
So mat hang da ban:  379
So san pham da ban:  7246.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Áo hoodie nam nữ form rộng Unisex một màu in h...,129000,https://tka.tiki.vn/pixel/pixel?data=kFBrn5ts6...,-35%,923.0,aohoodie,119067000.0
1,Áo hoodie nam nữ form rộng Unisex một màu in h...,127000,https://tiki.vn/ao-hoodie-nam-nu-form-rong-uni...,-36%,923.0,aohoodie,117221000.0
2,Áo hoodie nỉ bông unisex Homies liền mũ có túi...,100000,https://tiki.vn/ao-hoodie-ni-bong-unisex-homie...,-30%,143.0,aohoodie,14300000.0
3,"Áo hoodie, áo sweater thời trang unisex, phong...",190000,https://tiki.vn/ao-hoodie-ao-sweater-thoi-tran...,-30%,10.0,aohoodie,1900000.0
4,"Áo hoodie nam nữ form rộng siêu xinh , Áo khoá...",110000,https://tiki.vn/ao-hoodie-nam-nu-form-rong-sie...,-30%,23.0,aohoodie,2530000.0
...,...,...,...,...,...,...,...
374,Áo Sweater Áo nỉ da cá cổ tròn xuất Nhật chất ...,92000,https://tiki.vn/ao-sweater-ao-ni-da-ca-co-tron...,NaN,5.0,aohoodie,460000.0
375,Áo Hoodie Basic nỉ bông Unisex màu trắng,91000,https://tiki.vn/ao-hoodie-basic-ni-bong-unisex...,NaN,6.0,aohoodie,546000.0
376,Áo thun sweater nam nữ in quả cầu,93000,https://tiki.vn/ao-thun-sweater-nam-nu-in-qua-...,NaN,1.0,aohoodie,93000.0
377,Áo hoddie màu nam nữ,104000,https://tiki.vn/ao-hoddie-mau-nam-nu-p37170710...,NaN,14.0,aohoodie,1456000.0
378,Áo Hoodie Nỉ Cotton Đen Trơn Đủ Size S M L XL ...,99000,https://tiki.vn/ao-hoodie-ni-cotton-den-tron-d...,NaN,84.0,aohoodie,8316000.0

In [15]:
df_all.to_csv("tk_aohoodie_all_ed.csv")