In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_190124(12hdem) - Copy (5)\thoitrangnam\aovest"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aovest_all.ipynb',
 'tk_ttnam_aovest.ipynb',
 'tk_ttnam_aovest_npage.ipynb',
 'tk_ttnam_aovest_t1.csv',
 'tk_ttnam_aovest_t10.csv',
 'tk_ttnam_aovest_t11.csv',
 'tk_ttnam_aovest_t12.csv',
 'tk_ttnam_aovest_t13.csv',
 'tk_ttnam_aovest_t14.csv',
 'tk_ttnam_aovest_t15.csv',
 'tk_ttnam_aovest_t16.csv',
 'tk_ttnam_aovest_t17.csv',
 'tk_ttnam_aovest_t18.csv',
 'tk_ttnam_aovest_t19.csv',
 'tk_ttnam_aovest_t2.csv',
 'tk_ttnam_aovest_t20.csv',
 'tk_ttnam_aovest_t21.csv',
 'tk_ttnam_aovest_t22.csv',
 'tk_ttnam_aovest_t23.csv',
 'tk_ttnam_aovest_t24.csv',
 'tk_ttnam_aovest_t25.csv',
 'tk_ttnam_aovest_t26.csv',
 'tk_ttnam_aovest_t27.csv',
 'tk_ttnam_aovest_t28.csv',
 'tk_ttnam_aovest_t29.csv',
 'tk_ttnam_aovest_t3.csv',
 'tk_ttnam_aovest_t30.csv',
 'tk_ttnam_aovest_t31.csv',
 'tk_ttnam_aovest_t32.csv',
 'tk_ttnam_aovest_t33.csv',
 'tk_ttnam_aovest_t34.csv',
 'tk_ttnam_aovest_t35.csv',
 'tk_ttnam_aovest_t36.csv',
 'tk_ttnam_aovest_t37.csv',
 'tk_ttnam_aovest_t38.csv',
 'tk_ttnam_aovest_t39.csv',
 'tk_ttnam_aovest_t4.csv',
 'tk_ttnam_aovest_t40.csv',
 'tk_ttnam_aovest_t41.csv',
 'tk_ttnam_aovest_t42.csv',
 'tk_ttnam_aovest_t43.csv',
 'tk_ttnam_aovest_t44.csv',
 'tk_ttnam_aovest_t45.csv',
 'tk_ttnam_aovest_t46.csv',
 'tk_ttnam_aovest_t47.csv',
 'tk_ttnam_aovest_t48.csv',
 'tk_ttnam_aovest_t49.csv',
 'tk_ttnam_aovest_t5.csv',
 'tk_ttnam_aovest_t50.csv',
 'tk_ttnam_aovest_t6.csv',
 'tk_ttnam_aovest_t7.csv',
 'tk_ttnam_aovest_t8.csv',
 'tk_ttnam_aovest_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aovest_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139.000₫,https://tka.tiki.vn/pixel/pixel?data=0v0nq_Aa_...,1,-39%,Đã bán 913,aovest
1,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=DAu8ANgE7...,2,-35%,Đã bán 12,aovest
2,"Áo khoác gió nam nữ Goking, ngoài vải dù, tron...",225.000₫,https://tka.tiki.vn/pixel/pixel?data=h5tD2UO8f...,3,-48%,Đã bán 137,aovest
3,"Áo Khoác Da Nam, Áo Khoác Da Lót Lông Siêu Ấm ...",299.000₫,https://tka.tiki.vn/pixel/pixel?data=QttZczGLF...,4,-48%,Đã bán 51,aovest
4,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519.000₫,https://tka.tiki.vn/pixel/pixel?data=WtpywJ-za...,5,-31%,Đã bán 26,aovest
...,...,...,...,...,...,...,...
35,Bộ vest nam 1 cúc màu ghi sáng cực sang DKA013...,687.000₫,https://tiki.vn/bo-vest-nam-1-cuc-mau-ghi-sang...,36,NaN,NaN,aovest
36,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300.000₫,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,37,NaN,Đã bán 22,aovest
37,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97.000₫,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,38,NaN,Đã bán 142,aovest
38,Áo Khoác Da Bomber Nam,175.000₫,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,39,NaN,Đã bán 41,aovest
39,Áo khoác dù nam 2 lớp thêu N,49.000₫,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,40,NaN,Đã bán 29,aovest

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139.000₫,https://tka.tiki.vn/pixel/pixel?data=0v0nq_Aa_...,-39%,Đã bán 913,aovest
1,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=DAu8ANgE7...,-35%,Đã bán 12,aovest
2,"Áo khoác gió nam nữ Goking, ngoài vải dù, tron...",225.000₫,https://tka.tiki.vn/pixel/pixel?data=h5tD2UO8f...,-48%,Đã bán 137,aovest
3,"Áo Khoác Da Nam, Áo Khoác Da Lót Lông Siêu Ấm ...",299.000₫,https://tka.tiki.vn/pixel/pixel?data=QttZczGLF...,-48%,Đã bán 51,aovest
4,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519.000₫,https://tka.tiki.vn/pixel/pixel?data=WtpywJ-za...,-31%,Đã bán 26,aovest
...,...,...,...,...,...,...
1267,Áo măng tô nam form rộng Sans22 khoác dạ blaze...,699.999₫,https://tiki.vn/ao-mang-to-nam-form-rong-sans2...,NaN,Đã bán 2,aovest
1268,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300.000₫,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,NaN,Đã bán 22,aovest
1269,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97.000₫,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,NaN,Đã bán 142,aovest
1270,Áo Khoác Da Bomber Nam,175.000₫,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,NaN,Đã bán 41,aovest
1271,Áo khoác dù nam 2 lớp thêu N,49.000₫,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,NaN,Đã bán 29,aovest

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       139000
1       357500
2       225000
3       299000
4       519000
         ...
1267    699999
1268    300000
1269     97000
1270    175000
1271     49000
Name: price, Length: 1272, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0       913.0
1        12.0
2       137.0
3        51.0
4        26.0
        ...
1267      2.0
1268     22.0
1269    142.0
1270     41.0
1271     29.0
Name: sales, Length: 1272, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       126907000.0
1         4290000.0
2        30825000.0
3        15249000.0
4        13494000.0
           ...
1267      1399998.0
1268      6600000.0
1269     13774000.0
1270      7175000.0
1271      1421000.0
Name: revenue, Length: 1272, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aovest: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aovest:  12611512237.0
So mat hang da ban:  1272
So san pham da ban:  59260.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139000,https://tka.tiki.vn/pixel/pixel?data=0v0nq_Aa_...,-39%,913.0,aovest,126907000.0
1,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357500,https://tka.tiki.vn/pixel/pixel?data=DAu8ANgE7...,-35%,12.0,aovest,4290000.0
2,"Áo khoác gió nam nữ Goking, ngoài vải dù, tron...",225000,https://tka.tiki.vn/pixel/pixel?data=h5tD2UO8f...,-48%,137.0,aovest,30825000.0
3,"Áo Khoác Da Nam, Áo Khoác Da Lót Lông Siêu Ấm ...",299000,https://tka.tiki.vn/pixel/pixel?data=QttZczGLF...,-48%,51.0,aovest,15249000.0
4,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519000,https://tka.tiki.vn/pixel/pixel?data=WtpywJ-za...,-31%,26.0,aovest,13494000.0
...,...,...,...,...,...,...,...
1267,Áo măng tô nam form rộng Sans22 khoác dạ blaze...,699999,https://tiki.vn/ao-mang-to-nam-form-rong-sans2...,NaN,2.0,aovest,1399998.0
1268,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300000,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,NaN,22.0,aovest,6600000.0
1269,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97000,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,NaN,142.0,aovest,13774000.0
1270,Áo Khoác Da Bomber Nam,175000,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,NaN,41.0,aovest,7175000.0
1271,Áo khoác dù nam 2 lớp thêu N,49000,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,NaN,29.0,aovest,1421000.0

In [15]:
df_all.to_csv("tk_aovest_all_ed.csv")