In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_180124(12htrua) - Copy (4)\thoitrangnam\aothunnam"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aothun.csv',
 'tk_aothun_all.ipynb',
 'tk_ttnam_aothun.ipynb',
 'tk_ttnam_aothun_npage.ipynb',
 'tk_ttnam_aothun_t10.csv',
 'tk_ttnam_aothun_t11.csv',
 'tk_ttnam_aothun_t12.csv',
 'tk_ttnam_aothun_t13.csv',
 'tk_ttnam_aothun_t14.csv',
 'tk_ttnam_aothun_t15.csv',
 'tk_ttnam_aothun_t16.csv',
 'tk_ttnam_aothun_t17.csv',
 'tk_ttnam_aothun_t18.csv',
 'tk_ttnam_aothun_t19.csv',
 'tk_ttnam_aothun_t2.csv',
 'tk_ttnam_aothun_t20.csv',
 'tk_ttnam_aothun_t21.csv',
 'tk_ttnam_aothun_t22.csv',
 'tk_ttnam_aothun_t23.csv',
 'tk_ttnam_aothun_t24.csv',
 'tk_ttnam_aothun_t25.csv',
 'tk_ttnam_aothun_t26.csv',
 'tk_ttnam_aothun_t27.csv',
 'tk_ttnam_aothun_t28.csv',
 'tk_ttnam_aothun_t29.csv',
 'tk_ttnam_aothun_t3.csv',
 'tk_ttnam_aothun_t30.csv',
 'tk_ttnam_aothun_t31.csv',
 'tk_ttnam_aothun_t32.csv',
 'tk_ttnam_aothun_t33.csv',
 'tk_ttnam_aothun_t34.csv',
 'tk_ttnam_aothun_t35.csv',
 'tk_ttnam_aothun_t36.csv',
 'tk_ttnam_aothun_t37.csv',
 'tk_ttnam_aothun_t38.csv',
 'tk_ttnam_aothun_t39.csv',
 'tk_ttnam_aothun_t4.csv',
 'tk_ttnam_aothun_t40.csv',
 'tk_ttnam_aothun_t41.csv',
 'tk_ttnam_aothun_t42.csv',
 'tk_ttnam_aothun_t43.csv',
 'tk_ttnam_aothun_t44.csv',
 'tk_ttnam_aothun_t45.csv',
 'tk_ttnam_aothun_t46.csv',
 'tk_ttnam_aothun_t47.csv',
 'tk_ttnam_aothun_t48.csv',
 'tk_ttnam_aothun_t49.csv',
 'tk_ttnam_aothun_t5.csv',
 'tk_ttnam_aothun_t50.csv',
 'tk_ttnam_aothun_t6.csv',
 'tk_ttnam_aothun_t7.csv',
 'tk_ttnam_aothun_t8.csv',
 'tk_ttnam_aothun_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aothunnam_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Áo Polo nam DokaFashion vải Cotton cá sấu cao ...,85.000₫,https://tka.tiki.vn/pixel/pixel?data=-qmpAxbw-...,1,-47%,Đã bán 181,aothun
1,"Combo 2 Áo phông ba lỗ thoát nhiệt Nhật Bản , ...",258.000₫,https://tka.tiki.vn/pixel/pixel?data=eve_q__m_...,2,-44%,Đã bán 360,aothun
2,Áo thun nam thoát nhiệt Nhật Bản GOKING siêu t...,159.000₫,https://tka.tiki.vn/pixel/pixel?data=QkazsArrW...,3,-45%,Đã bán 1.7k,aothun
3,"TOKYO, mã G159. Áo thun hàng hiệu GOKING, form...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=qdIcI3Mqh...,4,-12%,Đã bán 122,aothun
4,Áo polo nam ngắn tay có cổ ( Tặng 1 quần lót n...,159.000₫,https://tka.tiki.vn/pixel/pixel?data=1h5-P5lVM...,5,-21%,Đã bán 1.1k,aothun
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,36,NaN,NaN,aothun
36,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,37,NaN,Đã bán 2,aothun
37,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,38,NaN,Đã bán 3,aothun
38,"Áo thun bò sữa nam nữ mặc , áo thun form rộng ...",87.000₫,https://tiki.vn/ao-thun-bo-sua-nam-nu-mac-ao-t...,39,NaN,Đã bán 10,aothun
39,Áo Thun Nam Cổ Bẻ Ngắn Tay XV02 Thời Trang Top...,125.000,https://tiki.vn/ao-thun-nam-co-be-ngan-tay-xv0...,40,NaN,NaN,aothun

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Áo Polo nam DokaFashion vải Cotton cá sấu cao ...,85.000₫,https://tka.tiki.vn/pixel/pixel?data=-qmpAxbw-...,-47%,Đã bán 181,aothun
1,"Combo 2 Áo phông ba lỗ thoát nhiệt Nhật Bản , ...",258.000₫,https://tka.tiki.vn/pixel/pixel?data=eve_q__m_...,-44%,Đã bán 360,aothun
2,Áo thun nam thoát nhiệt Nhật Bản GOKING siêu t...,159.000₫,https://tka.tiki.vn/pixel/pixel?data=QkazsArrW...,-45%,Đã bán 1.7k,aothun
3,"TOKYO, mã G159. Áo thun hàng hiệu GOKING, form...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=qdIcI3Mqh...,-12%,Đã bán 122,aothun
4,Áo polo nam ngắn tay có cổ ( Tặng 1 quần lót n...,159.000₫,https://tka.tiki.vn/pixel/pixel?data=1h5-P5lVM...,-21%,Đã bán 1.1k,aothun
...,...,...,...,...,...,...
936,Combo 2 Áo thun thể thao nam MRM Active Pro th...,218.000₫,https://tiki.vn/combo-2-ao-thun-the-thao-nam-m...,NaN,Đã bán 125,aothun
937,"UNSTOPABLE, mã G60. Áo thun siêu đẹp cho cả gi...",69.000₫,https://tiki.vn/unstopable-ma-g60-ao-thun-nam-...,NaN,Đã bán 9,aothun
938,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,Đã bán 2,aothun
939,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,Đã bán 3,aothun
940,"Áo thun bò sữa nam nữ mặc , áo thun form rộng ...",87.000₫,https://tiki.vn/ao-thun-bo-sua-nam-nu-mac-ao-t...,NaN,Đã bán 10,aothun

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       85000
1      258000
2      159000
3      119000
4      159000
        ...
936    218000
937     69000
938    389000
939     39000
940     87000
Name: price, Length: 941, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0       181.0
1       360.0
2      1700.0
3       122.0
4      1100.0
        ...
936     125.0
937       9.0
938       2.0
939       3.0
940      10.0
Name: sales, Length: 941, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       15385000.0
1       92880000.0
2      270300000.0
3       14518000.0
4      174900000.0
          ...
936     27250000.0
937       621000.0
938       778000.0
939       117000.0
940       870000.0
Name: revenue, Length: 941, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aothunnam: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aothunnam:  8174031141.0
So mat hang da ban:  941
So san pham da ban:  60500.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Áo Polo nam DokaFashion vải Cotton cá sấu cao ...,85000,https://tka.tiki.vn/pixel/pixel?data=-qmpAxbw-...,-47%,181.0,aothun,15385000.0
1,"Combo 2 Áo phông ba lỗ thoát nhiệt Nhật Bản , ...",258000,https://tka.tiki.vn/pixel/pixel?data=eve_q__m_...,-44%,360.0,aothun,92880000.0
2,Áo thun nam thoát nhiệt Nhật Bản GOKING siêu t...,159000,https://tka.tiki.vn/pixel/pixel?data=QkazsArrW...,-45%,1700.0,aothun,270300000.0
3,"TOKYO, mã G159. Áo thun hàng hiệu GOKING, form...",119000,https://tka.tiki.vn/pixel/pixel?data=qdIcI3Mqh...,-12%,122.0,aothun,14518000.0
4,Áo polo nam ngắn tay có cổ ( Tặng 1 quần lót n...,159000,https://tka.tiki.vn/pixel/pixel?data=1h5-P5lVM...,-21%,1100.0,aothun,174900000.0
...,...,...,...,...,...,...,...
936,Combo 2 Áo thun thể thao nam MRM Active Pro th...,218000,https://tiki.vn/combo-2-ao-thun-the-thao-nam-m...,NaN,125.0,aothun,27250000.0
937,"UNSTOPABLE, mã G60. Áo thun siêu đẹp cho cả gi...",69000,https://tiki.vn/unstopable-ma-g60-ao-thun-nam-...,NaN,9.0,aothun,621000.0
938,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389000,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,2.0,aothun,778000.0
939,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39000,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,3.0,aothun,117000.0
940,"Áo thun bò sữa nam nữ mặc , áo thun form rộng ...",87000,https://tiki.vn/ao-thun-bo-sua-nam-nu-mac-ao-t...,NaN,10.0,aothun,870000.0

In [15]:
df_all.to_csv("tk_aothunnam_all_ed.csv")