In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_160124(12hdem)\thoitrangnam\quannam"
os.listdir(path)

['tk_quannam.csv',
 'tk_quannam_all.ipynb',
 'tk_ttn_qn.ipynb',
 'tk_ttn_qn_npage.ipynb',
 'tk_ttn_quannam_t10.csv',
 'tk_ttn_quannam_t11.csv',
 'tk_ttn_quannam_t12.csv',
 'tk_ttn_quannam_t13.csv',
 'tk_ttn_quannam_t14.csv',
 'tk_ttn_quannam_t15.csv',
 'tk_ttn_quannam_t16.csv',
 'tk_ttn_quannam_t17.csv',
 'tk_ttn_quannam_t18.csv',
 'tk_ttn_quannam_t19.csv',
 'tk_ttn_quannam_t2.csv',
 'tk_ttn_quannam_t20.csv',
 'tk_ttn_quannam_t21.csv',
 'tk_ttn_quannam_t22.csv',
 'tk_ttn_quannam_t23.csv',
 'tk_ttn_quannam_t24.csv',
 'tk_ttn_quannam_t25.csv',
 'tk_ttn_quannam_t26.csv',
 'tk_ttn_quannam_t27.csv',
 'tk_ttn_quannam_t28.csv',
 'tk_ttn_quannam_t29.csv',
 'tk_ttn_quannam_t3.csv',
 'tk_ttn_quannam_t30.csv',
 'tk_ttn_quannam_t31.csv',
 'tk_ttn_quannam_t32.csv',
 'tk_ttn_quannam_t33.csv',
 'tk_ttn_quannam_t34.csv',
 'tk_ttn_quannam_t35.csv',
 'tk_ttn_quannam_t36.csv',
 'tk_ttn_quannam_t37.csv',
 'tk_ttn_quannam_t38.csv',
 'tk_ttn_quannam_t39.csv',
 'tk_ttn_quannam_t4.csv',
 'tk_ttn_quannam_t40.csv',
 'tk_ttn_quannam_t41.csv',
 'tk_ttn_quannam_t42.csv',
 'tk_ttn_quannam_t43.csv',
 'tk_ttn_quannam_t44.csv',
 'tk_ttn_quannam_t45.csv',
 'tk_ttn_quannam_t46.csv',
 'tk_ttn_quannam_t47.csv',
 'tk_ttn_quannam_t48.csv',
 'tk_ttn_quannam_t5.csv',
 'tk_ttn_quannam_t6.csv',
 'tk_ttn_quannam_t7.csv',
 'tk_ttn_quannam_t8.csv',
 'tk_ttn_quannam_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_quannam_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"Set 2 quần đùi nam, quần Short Gió nam thê...",245.000₫,https://tka.tiki.vn/pixel/pixel?data=Xc5UEajYv...,1,-39%,Đã bán 2.0k,quannam
1,Quần đùi short gió nam thể thao Basic trẻ...,119.000₫,https://tka.tiki.vn/pixel/pixel?data=mPPi-lo3j...,2,-40%,Đã bán 2.6k,quannam
2,"Quần Short Kaki Nam US ARMY, Quần Túi Hộp Nam ...",277.000₫,https://tka.tiki.vn/pixel/pixel?data=wJwNXCo0i...,3,-54%,Đã bán 224,quannam
3,"Combo 2 quần đùi nam, quần Short Gió nam t...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=PgEXXiK6B...,4,-35%,Đã bán 707,quannam
4,"Quần jogger kaki cao cấp Amazing, lưng thun có...",249.000₫,https://tka.tiki.vn/pixel/pixel?data=Y5duXkhFO...,5,-33%,Đã bán 422,quannam
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/quan-short-nam-chat-xop-to-ong...,36,NaN,NaN,quannam
36,Bộ Đồ Nam - Bộ Nỉ Nam Thu Đông Thể Thao Chất N...,300.000₫,https://tiki.vn/bo-do-nam-bo-ni-nam-thu-dong-t...,37,NaN,Đã bán 3,quannam
37,Quần Jean Nam màu xanh thương hiệu Julido Stor...,169.000₫,https://tiki.vn/quan-jean-nam-mau-xanh-thuong-...,38,NaN,Đã bán 221,quannam
38,Quần Tây Nam Dáng Ôm Chất Liệu Vải Mềm Mịn Khh...,93.000₫,https://tiki.vn/quan-tay-nam-dang-om-chat-lieu...,39,NaN,Đã bán 144,quannam
39,Viettien - Quần Jeans nam dài Regular fit Màu ...,823.200,https://tiki.vn/viettien-quan-jeans-nam-dai-re...,40,NaN,NaN,quannam

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"Set 2 quần đùi nam, quần Short Gió nam thê...",245.000₫,https://tka.tiki.vn/pixel/pixel?data=Xc5UEajYv...,-39%,Đã bán 2.0k,quannam
1,Quần đùi short gió nam thể thao Basic trẻ...,119.000₫,https://tka.tiki.vn/pixel/pixel?data=mPPi-lo3j...,-40%,Đã bán 2.6k,quannam
2,"Quần Short Kaki Nam US ARMY, Quần Túi Hộp Nam ...",277.000₫,https://tka.tiki.vn/pixel/pixel?data=wJwNXCo0i...,-54%,Đã bán 224,quannam
3,"Combo 2 quần đùi nam, quần Short Gió nam t...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=PgEXXiK6B...,-35%,Đã bán 707,quannam
4,"Quần jogger kaki cao cấp Amazing, lưng thun có...",249.000₫,https://tka.tiki.vn/pixel/pixel?data=Y5duXkhFO...,-33%,Đã bán 422,quannam
...,...,...,...,...,...,...
1011,Quần Jean Nam Co Giãn Kiểu Dáng Trẻ Trung Đơn ...,169.000₫,https://tiki.vn/quan-jean-nam-co-gian-kieu-dan...,NaN,Đã bán 5,quannam
1012,QUẦN JEAN NAM TRẮNG CAO CẤP - VẢI TRẮNG TINH C...,150.000₫,https://tiki.vn/quan-jean-nam-trang-cao-cap-va...,NaN,Đã bán 1,quannam
1013,Bộ Đồ Nam - Bộ Nỉ Nam Thu Đông Thể Thao Chất N...,300.000₫,https://tiki.vn/bo-do-nam-bo-ni-nam-thu-dong-t...,NaN,Đã bán 3,quannam
1014,Quần Jean Nam màu xanh thương hiệu Julido Stor...,169.000₫,https://tiki.vn/quan-jean-nam-mau-xanh-thuong-...,NaN,Đã bán 221,quannam
1015,Quần Tây Nam Dáng Ôm Chất Liệu Vải Mềm Mịn Khh...,93.000₫,https://tiki.vn/quan-tay-nam-dang-om-chat-lieu...,NaN,Đã bán 144,quannam

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       245000
1       119000
2       277000
3       259000
4       249000
         ...
1011    169000
1012    150000
1013    300000
1014    169000
1015     93000
Name: price, Length: 1016, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0       2000.0
1       2600.0
2        224.0
3        707.0
4        422.0
         ...
1011       5.0
1012       1.0
1013       3.0
1014     221.0
1015     144.0
Name: sales, Length: 1016, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       490000000.0
1       309400000.0
2        62048000.0
3       183113000.0
4       105078000.0
           ...
1011       845000.0
1012       150000.0
1013       900000.0
1014     37349000.0
1015     13392000.0
Name: revenue, Length: 1016, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số quannam: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số quannam:  12803572687.0
So mat hang da ban:  1016
So san pham da ban:  85750.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"Set 2 quần đùi nam, quần Short Gió nam thê...",245000,https://tka.tiki.vn/pixel/pixel?data=Xc5UEajYv...,-39%,2000.0,quannam,490000000.0
1,Quần đùi short gió nam thể thao Basic trẻ...,119000,https://tka.tiki.vn/pixel/pixel?data=mPPi-lo3j...,-40%,2600.0,quannam,309400000.0
2,"Quần Short Kaki Nam US ARMY, Quần Túi Hộp Nam ...",277000,https://tka.tiki.vn/pixel/pixel?data=wJwNXCo0i...,-54%,224.0,quannam,62048000.0
3,"Combo 2 quần đùi nam, quần Short Gió nam t...",259000,https://tka.tiki.vn/pixel/pixel?data=PgEXXiK6B...,-35%,707.0,quannam,183113000.0
4,"Quần jogger kaki cao cấp Amazing, lưng thun có...",249000,https://tka.tiki.vn/pixel/pixel?data=Y5duXkhFO...,-33%,422.0,quannam,105078000.0
...,...,...,...,...,...,...,...
1011,Quần Jean Nam Co Giãn Kiểu Dáng Trẻ Trung Đơn ...,169000,https://tiki.vn/quan-jean-nam-co-gian-kieu-dan...,NaN,5.0,quannam,845000.0
1012,QUẦN JEAN NAM TRẮNG CAO CẤP - VẢI TRẮNG TINH C...,150000,https://tiki.vn/quan-jean-nam-trang-cao-cap-va...,NaN,1.0,quannam,150000.0
1013,Bộ Đồ Nam - Bộ Nỉ Nam Thu Đông Thể Thao Chất N...,300000,https://tiki.vn/bo-do-nam-bo-ni-nam-thu-dong-t...,NaN,3.0,quannam,900000.0
1014,Quần Jean Nam màu xanh thương hiệu Julido Stor...,169000,https://tiki.vn/quan-jean-nam-mau-xanh-thuong-...,NaN,221.0,quannam,37349000.0
1015,Quần Tây Nam Dáng Ôm Chất Liệu Vải Mềm Mịn Khh...,93000,https://tiki.vn/quan-tay-nam-dang-om-chat-lieu...,NaN,144.0,quannam,13392000.0

In [15]:
df_all.to_csv("tk_quannam_all_ed.csv")