In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_170124(12htrua) - Copy (2)\thoitrangnam\aothunnam"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aothun_all.ipynb',
 'tk_ttnam_aothun.ipynb',
 'tk_ttnam_aothun_npage.ipynb',
 'tk_ttnam_aothun_t1.csv',
 'tk_ttnam_aothun_t10.csv',
 'tk_ttnam_aothun_t11.csv',
 'tk_ttnam_aothun_t12.csv',
 'tk_ttnam_aothun_t13.csv',
 'tk_ttnam_aothun_t14.csv',
 'tk_ttnam_aothun_t15.csv',
 'tk_ttnam_aothun_t16.csv',
 'tk_ttnam_aothun_t17.csv',
 'tk_ttnam_aothun_t18.csv',
 'tk_ttnam_aothun_t19.csv',
 'tk_ttnam_aothun_t2.csv',
 'tk_ttnam_aothun_t20.csv',
 'tk_ttnam_aothun_t21.csv',
 'tk_ttnam_aothun_t22.csv',
 'tk_ttnam_aothun_t23.csv',
 'tk_ttnam_aothun_t24.csv',
 'tk_ttnam_aothun_t25.csv',
 'tk_ttnam_aothun_t26.csv',
 'tk_ttnam_aothun_t27.csv',
 'tk_ttnam_aothun_t28.csv',
 'tk_ttnam_aothun_t29.csv',
 'tk_ttnam_aothun_t3.csv',
 'tk_ttnam_aothun_t30.csv',
 'tk_ttnam_aothun_t31.csv',
 'tk_ttnam_aothun_t32.csv',
 'tk_ttnam_aothun_t33.csv',
 'tk_ttnam_aothun_t34.csv',
 'tk_ttnam_aothun_t35.csv',
 'tk_ttnam_aothun_t36.csv',
 'tk_ttnam_aothun_t37.csv',
 'tk_ttnam_aothun_t38.csv',
 'tk_ttnam_aothun_t39.csv',
 'tk_ttnam_aothun_t4.csv',
 'tk_ttnam_aothun_t40.csv',
 'tk_ttnam_aothun_t41.csv',
 'tk_ttnam_aothun_t42.csv',
 'tk_ttnam_aothun_t43.csv',
 'tk_ttnam_aothun_t44.csv',
 'tk_ttnam_aothun_t45.csv',
 'tk_ttnam_aothun_t46.csv',
 'tk_ttnam_aothun_t47.csv',
 'tk_ttnam_aothun_t48.csv',
 'tk_ttnam_aothun_t49.csv',
 'tk_ttnam_aothun_t5.csv',
 'tk_ttnam_aothun_t50.csv',
 'tk_ttnam_aothun_t6.csv',
 'tk_ttnam_aothun_t7.csv',
 'tk_ttnam_aothun_t8.csv',
 'tk_ttnam_aothun_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aothunnam_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Áo thun nam thoát nhiệt Nhật Bản GOKING siêu t...,159.000₫,https://tka.tiki.vn/pixel/pixel?data=NFWfL00oC...,1,NaN,Đã bán 1.7k,aothun
1,"NEVER SAY LOSE, mã logo.g43. Áo thun polo cổ b...",148.000₫,https://tka.tiki.vn/pixel/pixel?data=Xq5YOoyLC...,2,-44%,Đã bán 9,aothun
2,"NEVER GIVE UP, mã G174. Áo thun nam nữ in chữ ...",99.000₫,https://tka.tiki.vn/pixel/pixel?data=Zo1QOrdgZ...,3,-12%,Đã bán 38,aothun
3,"Áo Polo nam cổ bẻ ngắn tay, chất liệu vải cá s...",179.000,https://tka.tiki.vn/pixel/pixel?data=X4Dw4fFrr...,4,-21%,NaN,aothun
4,NaN,NaN,https://tka.tiki.vn/pixel/pixel?data=v-zi1fOKp...,5,NaN,NaN,aothun
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/unstopable-ma-g60-ao-thun-nam-...,36,NaN,NaN,aothun
36,Áo thun trơn nam form rộng vải poly cotton cho...,11.000₫,https://tiki.vn/ao-thun-tron-nam-form-rong-vai...,37,NaN,Đã bán 15,aothun
37,Áo Phông Nam Polo Tay Ngắn Phối Màu Thời Trang...,189.000₫,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,38,NaN,Đã bán 264,aothun
38,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,39,NaN,Đã bán 2,aothun
39,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,40,NaN,Đã bán 3,aothun

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Áo thun nam thoát nhiệt Nhật Bản GOKING siêu t...,159.000₫,https://tka.tiki.vn/pixel/pixel?data=NFWfL00oC...,NaN,Đã bán 1.7k,aothun
1,"NEVER SAY LOSE, mã logo.g43. Áo thun polo cổ b...",148.000₫,https://tka.tiki.vn/pixel/pixel?data=Xq5YOoyLC...,-44%,Đã bán 9,aothun
2,"NEVER GIVE UP, mã G174. Áo thun nam nữ in chữ ...",99.000₫,https://tka.tiki.vn/pixel/pixel?data=Zo1QOrdgZ...,-12%,Đã bán 38,aothun
3,Áo thun nam Cotton Compact Premium trẻ trung n...,139.000₫,https://tiki.vn/ao-thun-nam-cotton-compact-pre...,NaN,Đã bán 729,aothun
4,Áo Polo Nam cổ bẻ TSIMPLE thun có cổ tay lỡ vả...,149.000₫,https://tiki.vn/ao-polo-nam-co-be-tsimple-thun...,NaN,Đã bán 2.1k,aothun
...,...,...,...,...,...,...
906,Áo Thun Có Cổ Nam Giordano Luxury Touch Polo 0...,310.000₫,https://tiki.vn/ao-thun-co-co-nam-giordano-lux...,NaN,Đã bán 11,aothun
907,Áo thun trơn nam form rộng vải poly cotton cho...,11.000₫,https://tiki.vn/ao-thun-tron-nam-form-rong-vai...,NaN,Đã bán 15,aothun
908,Áo Phông Nam Polo Tay Ngắn Phối Màu Thời Trang...,189.000₫,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,NaN,Đã bán 264,aothun
909,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,Đã bán 2,aothun
910,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,Đã bán 3,aothun

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0      159000
1      148000
2       99000
3      139000
4      149000
        ...
906    310000
907     11000
908    189000
909    389000
910     39000
Name: price, Length: 911, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0      1700.0
1         9.0
2        38.0
3       729.0
4      2100.0
        ...
906      11.0
907      15.0
908     264.0
909       2.0
910       3.0
Name: sales, Length: 911, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0      270300000.0
1        1332000.0
2        3762000.0
3      101331000.0
4      312900000.0
          ...
906      3410000.0
907       165000.0
908     49896000.0
909       778000.0
910       117000.0
Name: revenue, Length: 911, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aothunnam: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aothunnam:  7632946267.0
So mat hang da ban:  911
So san pham da ban:  53767.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Áo thun nam thoát nhiệt Nhật Bản GOKING siêu t...,159000,https://tka.tiki.vn/pixel/pixel?data=NFWfL00oC...,NaN,1700.0,aothun,270300000.0
1,"NEVER SAY LOSE, mã logo.g43. Áo thun polo cổ b...",148000,https://tka.tiki.vn/pixel/pixel?data=Xq5YOoyLC...,-44%,9.0,aothun,1332000.0
2,"NEVER GIVE UP, mã G174. Áo thun nam nữ in chữ ...",99000,https://tka.tiki.vn/pixel/pixel?data=Zo1QOrdgZ...,-12%,38.0,aothun,3762000.0
3,Áo thun nam Cotton Compact Premium trẻ trung n...,139000,https://tiki.vn/ao-thun-nam-cotton-compact-pre...,NaN,729.0,aothun,101331000.0
4,Áo Polo Nam cổ bẻ TSIMPLE thun có cổ tay lỡ vả...,149000,https://tiki.vn/ao-polo-nam-co-be-tsimple-thun...,NaN,2100.0,aothun,312900000.0
...,...,...,...,...,...,...,...
906,Áo Thun Có Cổ Nam Giordano Luxury Touch Polo 0...,310000,https://tiki.vn/ao-thun-co-co-nam-giordano-lux...,NaN,11.0,aothun,3410000.0
907,Áo thun trơn nam form rộng vải poly cotton cho...,11000,https://tiki.vn/ao-thun-tron-nam-form-rong-vai...,NaN,15.0,aothun,165000.0
908,Áo Phông Nam Polo Tay Ngắn Phối Màu Thời Trang...,189000,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,NaN,264.0,aothun,49896000.0
909,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389000,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,2.0,aothun,778000.0
910,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39000,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,3.0,aothun,117000.0

In [15]:
df_all.to_csv("tk_aothunnam_all_ed.csv")