In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_180124(12htrua) - Copy (4)\thoitrangnam\aovest"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aovest.csv',
 'tk_aovest_all.ipynb',
 'tk_ttnam_aovest.ipynb',
 'tk_ttnam_aovest_npage.ipynb',
 'tk_ttnam_aovest_t10.csv',
 'tk_ttnam_aovest_t11.csv',
 'tk_ttnam_aovest_t12.csv',
 'tk_ttnam_aovest_t13.csv',
 'tk_ttnam_aovest_t14.csv',
 'tk_ttnam_aovest_t15.csv',
 'tk_ttnam_aovest_t16.csv',
 'tk_ttnam_aovest_t17.csv',
 'tk_ttnam_aovest_t18.csv',
 'tk_ttnam_aovest_t19.csv',
 'tk_ttnam_aovest_t2.csv',
 'tk_ttnam_aovest_t20.csv',
 'tk_ttnam_aovest_t21.csv',
 'tk_ttnam_aovest_t22.csv',
 'tk_ttnam_aovest_t23.csv',
 'tk_ttnam_aovest_t24.csv',
 'tk_ttnam_aovest_t25.csv',
 'tk_ttnam_aovest_t26.csv',
 'tk_ttnam_aovest_t27.csv',
 'tk_ttnam_aovest_t28.csv',
 'tk_ttnam_aovest_t29.csv',
 'tk_ttnam_aovest_t3.csv',
 'tk_ttnam_aovest_t30.csv',
 'tk_ttnam_aovest_t31.csv',
 'tk_ttnam_aovest_t32.csv',
 'tk_ttnam_aovest_t33.csv',
 'tk_ttnam_aovest_t34.csv',
 'tk_ttnam_aovest_t35.csv',
 'tk_ttnam_aovest_t36.csv',
 'tk_ttnam_aovest_t37.csv',
 'tk_ttnam_aovest_t38.csv',
 'tk_ttnam_aovest_t39.csv',
 'tk_ttnam_aovest_t4.csv',
 'tk_ttnam_aovest_t40.csv',
 'tk_ttnam_aovest_t41.csv',
 'tk_ttnam_aovest_t42.csv',
 'tk_ttnam_aovest_t43.csv',
 'tk_ttnam_aovest_t44.csv',
 'tk_ttnam_aovest_t45.csv',
 'tk_ttnam_aovest_t46.csv',
 'tk_ttnam_aovest_t47.csv',
 'tk_ttnam_aovest_t48.csv',
 'tk_ttnam_aovest_t49.csv',
 'tk_ttnam_aovest_t5.csv',
 'tk_ttnam_aovest_t50.csv',
 'tk_ttnam_aovest_t6.csv',
 'tk_ttnam_aovest_t7.csv',
 'tk_ttnam_aovest_t8.csv',
 'tk_ttnam_aovest_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aovest_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=t3oEAa6Lu...,1,-35%,Đã bán 12,aovest
1,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139.000₫,https://tka.tiki.vn/pixel/pixel?data=lvfBA9yFC...,2,-39%,Đã bán 911,aovest
2,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519.000₫,https://tka.tiki.vn/pixel/pixel?data=Tqbt3l_1F...,3,-48%,Đã bán 25,aovest
3,"Áo vest,áo vest nam với chất POLY chéo hàn cao...",352.080₫,https://tka.tiki.vn/pixel/pixel?data=cPpYzTTO-...,4,-28%,Đã bán 19,aovest
4,Áo len Nam Áo Cardigan nam chất liệu Len dệt c...,358.000₫,https://tka.tiki.vn/pixel/pixel?data=Mh88FPF78...,5,-31%,Đã bán 3,aovest
...,...,...,...,...,...,...,...
35,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300.000₫,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,36,NaN,Đã bán 22,aovest
36,Bộ vest nam 1 cúc màu ghi sáng cực sang DKA013...,687.000₫,https://tiki.vn/bo-vest-nam-1-cuc-mau-ghi-sang...,37,NaN,NaN,aovest
37,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97.000₫,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,38,NaN,Đã bán 142,aovest
38,Áo Khoác Da Bomber Nam,175.000₫,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,39,NaN,Đã bán 41,aovest
39,Áo khoác dù nam 2 lớp thêu N,49.000₫,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,40,NaN,Đã bán 29,aovest

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=t3oEAa6Lu...,-35%,Đã bán 12,aovest
1,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139.000₫,https://tka.tiki.vn/pixel/pixel?data=lvfBA9yFC...,-39%,Đã bán 911,aovest
2,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519.000₫,https://tka.tiki.vn/pixel/pixel?data=Tqbt3l_1F...,-48%,Đã bán 25,aovest
3,"Áo vest,áo vest nam với chất POLY chéo hàn cao...",352.080₫,https://tka.tiki.vn/pixel/pixel?data=cPpYzTTO-...,-28%,Đã bán 19,aovest
4,Áo len Nam Áo Cardigan nam chất liệu Len dệt c...,358.000₫,https://tka.tiki.vn/pixel/pixel?data=Mh88FPF78...,-31%,Đã bán 3,aovest
...,...,...,...,...,...,...
1254,Áo măng tô nam form rộng Sans22 khoác dạ blaze...,699.999₫,https://tiki.vn/ao-mang-to-nam-form-rong-sans2...,NaN,Đã bán 2,aovest
1255,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300.000₫,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,NaN,Đã bán 22,aovest
1256,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97.000₫,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,NaN,Đã bán 142,aovest
1257,Áo Khoác Da Bomber Nam,175.000₫,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,NaN,Đã bán 41,aovest
1258,Áo khoác dù nam 2 lớp thêu N,49.000₫,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,NaN,Đã bán 29,aovest

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       357500
1       139000
2       519000
3       352080
4       358000
         ...
1254    699999
1255    300000
1256     97000
1257    175000
1258     49000
Name: price, Length: 1259, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        12.0
1       911.0
2        25.0
3        19.0
4         3.0
        ...
1254      2.0
1255     22.0
1256    142.0
1257     41.0
1258     29.0
Name: sales, Length: 1259, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0         4290000.0
1       126629000.0
2        12975000.0
3         6689520.0
4         1074000.0
           ...
1254      1399998.0
1255      6600000.0
1256     13774000.0
1257      7175000.0
1258      1421000.0
Name: revenue, Length: 1259, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aovest: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aovest:  11718133824.0
So mat hang da ban:  1259
So san pham da ban:  55173.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357500,https://tka.tiki.vn/pixel/pixel?data=t3oEAa6Lu...,-35%,12.0,aovest,4290000.0
1,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139000,https://tka.tiki.vn/pixel/pixel?data=lvfBA9yFC...,-39%,911.0,aovest,126629000.0
2,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519000,https://tka.tiki.vn/pixel/pixel?data=Tqbt3l_1F...,-48%,25.0,aovest,12975000.0
3,"Áo vest,áo vest nam với chất POLY chéo hàn cao...",352080,https://tka.tiki.vn/pixel/pixel?data=cPpYzTTO-...,-28%,19.0,aovest,6689520.0
4,Áo len Nam Áo Cardigan nam chất liệu Len dệt c...,358000,https://tka.tiki.vn/pixel/pixel?data=Mh88FPF78...,-31%,3.0,aovest,1074000.0
...,...,...,...,...,...,...,...
1254,Áo măng tô nam form rộng Sans22 khoác dạ blaze...,699999,https://tiki.vn/ao-mang-to-nam-form-rong-sans2...,NaN,2.0,aovest,1399998.0
1255,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300000,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,NaN,22.0,aovest,6600000.0
1256,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97000,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,NaN,142.0,aovest,13774000.0
1257,Áo Khoác Da Bomber Nam,175000,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,NaN,41.0,aovest,7175000.0
1258,Áo khoác dù nam 2 lớp thêu N,49000,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,NaN,29.0,aovest,1421000.0

In [15]:
df_all.to_csv("tk_aovest_all_ed.csv")