In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_190124(12hdem) - Copy (5)\thoitrangnam\aothunnam"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aothun_all.ipynb',
 'tk_ttnam_aothun.ipynb',
 'tk_ttnam_aothun_npage.ipynb',
 'tk_ttnam_aothun_t1.csv',
 'tk_ttnam_aothun_t10.csv',
 'tk_ttnam_aothun_t11.csv',
 'tk_ttnam_aothun_t12.csv',
 'tk_ttnam_aothun_t13.csv',
 'tk_ttnam_aothun_t14.csv',
 'tk_ttnam_aothun_t15.csv',
 'tk_ttnam_aothun_t16.csv',
 'tk_ttnam_aothun_t17.csv',
 'tk_ttnam_aothun_t18.csv',
 'tk_ttnam_aothun_t19.csv',
 'tk_ttnam_aothun_t2.csv',
 'tk_ttnam_aothun_t20.csv',
 'tk_ttnam_aothun_t21.csv',
 'tk_ttnam_aothun_t22.csv',
 'tk_ttnam_aothun_t23.csv',
 'tk_ttnam_aothun_t24.csv',
 'tk_ttnam_aothun_t25.csv',
 'tk_ttnam_aothun_t26.csv',
 'tk_ttnam_aothun_t27.csv',
 'tk_ttnam_aothun_t28.csv',
 'tk_ttnam_aothun_t29.csv',
 'tk_ttnam_aothun_t3.csv',
 'tk_ttnam_aothun_t30.csv',
 'tk_ttnam_aothun_t31.csv',
 'tk_ttnam_aothun_t32.csv',
 'tk_ttnam_aothun_t33.csv',
 'tk_ttnam_aothun_t34.csv',
 'tk_ttnam_aothun_t35.csv',
 'tk_ttnam_aothun_t36.csv',
 'tk_ttnam_aothun_t37.csv',
 'tk_ttnam_aothun_t38.csv',
 'tk_ttnam_aothun_t39.csv',
 'tk_ttnam_aothun_t4.csv',
 'tk_ttnam_aothun_t40.csv',
 'tk_ttnam_aothun_t41.csv',
 'tk_ttnam_aothun_t42.csv',
 'tk_ttnam_aothun_t43.csv',
 'tk_ttnam_aothun_t44.csv',
 'tk_ttnam_aothun_t45.csv',
 'tk_ttnam_aothun_t46.csv',
 'tk_ttnam_aothun_t47.csv',
 'tk_ttnam_aothun_t48.csv',
 'tk_ttnam_aothun_t49.csv',
 'tk_ttnam_aothun_t5.csv',
 'tk_ttnam_aothun_t50.csv',
 'tk_ttnam_aothun_t6.csv',
 'tk_ttnam_aothun_t7.csv',
 'tk_ttnam_aothun_t8.csv',
 'tk_ttnam_aothun_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aothunnam_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"áo ba lỗ nam, áo 3 lỗ nam sợi cotton Orga...",79.000₫,https://tka.tiki.vn/pixel/pixel?data=MsjaVyYiu...,1,-20%,Đã bán 1.1k,aothun
1,Áo thun Sanji siêu ngầu cho nam nữ teen trẻ em...,79.000₫,https://tka.tiki.vn/pixel/pixel?data=vMpN9Almv...,2,-44%,NaN,aothun
2,"Áo thun Tanjiro Kimetsu No Yaiba, mã KY2. Áo p...",79.000₫,https://tka.tiki.vn/pixel/pixel?data=BAQDgAEv7...,3,-12%,NaN,aothun
3,"Áo thun Luffy Gear 5, One Piece Đảo Hải Tặc, m...",179.000,https://tka.tiki.vn/pixel/pixel?data=GiQG0V4HF...,4,-21%,Đã bán 1,aothun
4,NaN,NaN,https://tka.tiki.vn/pixel/pixel?data=I4hcUp0aA...,5,NaN,NaN,aothun
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/ao-phong-nam-polo-tay-ngan-pho...,36,NaN,NaN,aothun
36,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,37,NaN,Đã bán 2,aothun
37,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,38,NaN,Đã bán 3,aothun
38,MLB - Áo thun unisex cổ tròn tay ngắn Monotive...,1.790.000₫,https://tiki.vn/mlb-ao-thun-unisex-co-tron-tay...,39,NaN,NaN,aothun
39,"Áo thun bò sữa nam nữ mặc , áo thun form rộng ...",69.000₫,https://tiki.vn/product-p90065069.html?spid=19...,40,NaN,Đã bán 3,aothun

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"áo ba lỗ nam, áo 3 lỗ nam sợi cotton Orga...",79.000₫,https://tka.tiki.vn/pixel/pixel?data=MsjaVyYiu...,-20%,Đã bán 1.1k,aothun
1,"Áo thun Luffy Gear 5, One Piece Đảo Hải Tặc, m...",179.000,https://tka.tiki.vn/pixel/pixel?data=GiQG0V4HF...,-21%,Đã bán 1,aothun
2,Áo thun nam Cotton Compact Premium trẻ trung n...,139.000₫,https://tiki.vn/ao-thun-nam-cotton-compact-pre...,NaN,Đã bán 734,aothun
3,Áo Polo Nam cổ bẻ TSIMPLE thun có cổ tay lỡ vả...,149.000₫,https://tiki.vn/ao-polo-nam-co-be-tsimple-thun...,-21%,Đã bán 2.1k,aothun
4,Áo thun tay lỡ form rộng - phông nam nữ oversi...,99.000₫,https://tiki.vn/ao-thun-tay-lo-form-rong-phong...,NaN,Đã bán 114,aothun
...,...,...,...,...,...,...
918,Combo 2 Áo thun thể thao nam MRM Active Pro th...,219.000₫,https://tiki.vn/combo-2-ao-thun-the-thao-nam-m...,NaN,Đã bán 125,aothun
919,"UNSTOPABLE, mã G60. Áo thun siêu đẹp cho cả gi...",69.000₫,https://tiki.vn/unstopable-ma-g60-ao-thun-nam-...,NaN,Đã bán 9,aothun
920,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389.000₫,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,Đã bán 2,aothun
921,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39.000₫,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,Đã bán 3,aothun
922,"Áo thun bò sữa nam nữ mặc , áo thun form rộng ...",69.000₫,https://tiki.vn/product-p90065069.html?spid=19...,NaN,Đã bán 3,aothun

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       79000
1      179000
2      139000
3      149000
4       99000
        ...
918    219000
919     69000
920    389000
921     39000
922     69000
Name: price, Length: 923, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0      1100.0
1         1.0
2       734.0
3      2100.0
4       114.0
        ...
918     125.0
919       9.0
920       2.0
921       3.0
922       3.0
Name: sales, Length: 923, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       86900000.0
1         179000.0
2      102026000.0
3      312900000.0
4       11286000.0
          ...
918     27375000.0
919       621000.0
920       778000.0
921       117000.0
922       207000.0
Name: revenue, Length: 923, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aothunnam: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aothunnam:  6592795118.0
So mat hang da ban:  923
So san pham da ban:  50018.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"áo ba lỗ nam, áo 3 lỗ nam sợi cotton Orga...",79000,https://tka.tiki.vn/pixel/pixel?data=MsjaVyYiu...,-20%,1100.0,aothun,86900000.0
1,"Áo thun Luffy Gear 5, One Piece Đảo Hải Tặc, m...",179000,https://tka.tiki.vn/pixel/pixel?data=GiQG0V4HF...,-21%,1.0,aothun,179000.0
2,Áo thun nam Cotton Compact Premium trẻ trung n...,139000,https://tiki.vn/ao-thun-nam-cotton-compact-pre...,NaN,734.0,aothun,102026000.0
3,Áo Polo Nam cổ bẻ TSIMPLE thun có cổ tay lỡ vả...,149000,https://tiki.vn/ao-polo-nam-co-be-tsimple-thun...,-21%,2100.0,aothun,312900000.0
4,Áo thun tay lỡ form rộng - phông nam nữ oversi...,99000,https://tiki.vn/ao-thun-tay-lo-form-rong-phong...,NaN,114.0,aothun,11286000.0
...,...,...,...,...,...,...,...
918,Combo 2 Áo thun thể thao nam MRM Active Pro th...,219000,https://tiki.vn/combo-2-ao-thun-the-thao-nam-m...,NaN,125.0,aothun,27375000.0
919,"UNSTOPABLE, mã G60. Áo thun siêu đẹp cho cả gi...",69000,https://tiki.vn/unstopable-ma-g60-ao-thun-nam-...,NaN,9.0,aothun,621000.0
920,Áo Polo Nam Enkoni Basic Trắng Vải Coolmate,389000,https://tiki.vn/ao-polo-nam-enkoni-basic-trang...,NaN,2.0,aothun,778000.0
921,Áo Thun Ba Lỗ Nam Sát Nách Vải Cotton Mềm Form...,39000,https://tiki.vn/ao-thun-ba-lo-nam-sat-nach-vai...,NaN,3.0,aothun,117000.0
922,"Áo thun bò sữa nam nữ mặc , áo thun form rộng ...",69000,https://tiki.vn/product-p90065069.html?spid=19...,NaN,3.0,aothun,207000.0

In [15]:
df_all.to_csv("tk_aothunnam_all_ed.csv")