In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_180124(12htrua) - Copy (4)\thoitrangnu\aonu"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aonu.csv',
 'tk_aonu_all.ipynb',
 'tk_ttn_an.ipynb',
 'tk_ttn_an_npage.ipynb',
 'tk_ttn_an_t10.csv',
 'tk_ttn_an_t11.csv',
 'tk_ttn_an_t12.csv',
 'tk_ttn_an_t13.csv',
 'tk_ttn_an_t14.csv',
 'tk_ttn_an_t15.csv',
 'tk_ttn_an_t16.csv',
 'tk_ttn_an_t17.csv',
 'tk_ttn_an_t18.csv',
 'tk_ttn_an_t19.csv',
 'tk_ttn_an_t2.csv',
 'tk_ttn_an_t20.csv',
 'tk_ttn_an_t21.csv',
 'tk_ttn_an_t22.csv',
 'tk_ttn_an_t23.csv',
 'tk_ttn_an_t24.csv',
 'tk_ttn_an_t25.csv',
 'tk_ttn_an_t26.csv',
 'tk_ttn_an_t27.csv',
 'tk_ttn_an_t28.csv',
 'tk_ttn_an_t29.csv',
 'tk_ttn_an_t3.csv',
 'tk_ttn_an_t30.csv',
 'tk_ttn_an_t31.csv',
 'tk_ttn_an_t32.csv',
 'tk_ttn_an_t33.csv',
 'tk_ttn_an_t34.csv',
 'tk_ttn_an_t35.csv',
 'tk_ttn_an_t36.csv',
 'tk_ttn_an_t37.csv',
 'tk_ttn_an_t38.csv',
 'tk_ttn_an_t39.csv',
 'tk_ttn_an_t4.csv',
 'tk_ttn_an_t40.csv',
 'tk_ttn_an_t41.csv',
 'tk_ttn_an_t42.csv',
 'tk_ttn_an_t43.csv',
 'tk_ttn_an_t44.csv',
 'tk_ttn_an_t45.csv',
 'tk_ttn_an_t46.csv',
 'tk_ttn_an_t47.csv',
 'tk_ttn_an_t48.csv',
 'tk_ttn_an_t49.csv',
 'tk_ttn_an_t5.csv',
 'tk_ttn_an_t50.csv',
 'tk_ttn_an_t6.csv',
 'tk_ttn_an_t7.csv',
 'tk_ttn_an_t8.csv',
 'tk_ttn_an_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aonu_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,Áo thun tay lỡ form rộng - phông nam nữ cotton...,79.000₫,https://tka.tiki.vn/pixel/pixel?data=v3Il7m02H...,1,-37%,Đã bán 75,aonu
1,Áo thun nữ MXM form rộng cổ tim in chữ Love Va...,95.000₫,https://tka.tiki.vn/pixel/pixel?data=GnottfnxV...,2,-73%,Đã bán 19,aonu
2,Áo thun nữ MXM cổ tròn form vừa in chữ Paris t...,89.000₫,https://tka.tiki.vn/pixel/pixel?data=4vVOwr2M9...,3,-37%,Đã bán 123,aonu
3,Áo Sơ Mi Nữ Thời Trang JUNO Oversize Thân Sau ...,149.000₫,https://tka.tiki.vn/pixel/pixel?data=ZukzilVp6...,4,-37%,Đã bán 4,aonu
4,Áo thun tay lỡ form rộng - phông nam nữ cotton...,79.000₫,https://tka.tiki.vn/pixel/pixel?data=CgPpxppoZ...,5,-37%,Đã bán 80,aonu
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/ao-croptop-ao-croptop-co-be-ao...,36,NaN,NaN,aonu
36,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159.000₫,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,37,NaN,Đã bán 84,aonu
37,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135.000₫,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,38,NaN,Đã bán 6,aonu
38,"Áo croptop họa tiết, áo nữ, áo kiểu croptop, á...",77.000₫,https://tiki.vn/ao-croptop-hoa-tiet-ao-nu-ao-k...,39,NaN,Đã bán 3,aonu
39,Áo Sơ Mi Thắt Nơ,299.000,https://tiki.vn/ao-so-mi-that-no-p10571674.htm...,40,NaN,NaN,aonu

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,Áo thun tay lỡ form rộng - phông nam nữ cotton...,79.000₫,https://tka.tiki.vn/pixel/pixel?data=v3Il7m02H...,-37%,Đã bán 75,aonu
1,Áo thun nữ MXM form rộng cổ tim in chữ Love Va...,95.000₫,https://tka.tiki.vn/pixel/pixel?data=GnottfnxV...,-73%,Đã bán 19,aonu
2,Áo thun nữ MXM cổ tròn form vừa in chữ Paris t...,89.000₫,https://tka.tiki.vn/pixel/pixel?data=4vVOwr2M9...,-37%,Đã bán 123,aonu
3,Áo Sơ Mi Nữ Thời Trang JUNO Oversize Thân Sau ...,149.000₫,https://tka.tiki.vn/pixel/pixel?data=ZukzilVp6...,-37%,Đã bán 4,aonu
4,Áo thun tay lỡ form rộng - phông nam nữ cotton...,79.000₫,https://tka.tiki.vn/pixel/pixel?data=CgPpxppoZ...,-37%,Đã bán 80,aonu
...,...,...,...,...,...,...
1004,"Áo trễ vai bánh bèo tiểu thư, áo trắng trần tr...",79.000₫,https://tiki.vn/ao-tre-vai-banh-beo-tieu-thu-a...,NaN,Đã bán 54,aonu
1005,Áo Thun 3 Lỗ Nữ Khoét Vai Chất Vải Thun Cotton...,89.100₫,https://tiki.vn/ao-thun-3-lo-nu-khoet-vai-chat...,NaN,Đã bán 5,aonu
1006,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159.000₫,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,NaN,Đã bán 84,aonu
1007,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135.000₫,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,NaN,Đã bán 6,aonu
1008,"Áo croptop họa tiết, áo nữ, áo kiểu croptop, á...",77.000₫,https://tiki.vn/ao-croptop-hoa-tiet-ao-nu-ao-k...,NaN,Đã bán 3,aonu

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0        79000
1        95000
2        89000
3       149000
4        79000
         ...
1004     79000
1005     89100
1006    159000
1007    135000
1008     77000
Name: price, Length: 1009, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        75.0
1        19.0
2       123.0
3         4.0
4        80.0
        ...
1004     54.0
1005      5.0
1006     84.0
1007      6.0
1008      3.0
Name: sales, Length: 1009, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0        5925000.0
1        1805000.0
2       10947000.0
3         596000.0
4        6320000.0
           ...
1004     4266000.0
1005      445500.0
1006    13356000.0
1007      810000.0
1008      231000.0
Name: revenue, Length: 1009, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aonu: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aonu:  3020187205.0
So mat hang da ban:  1009
So san pham da ban:  26346.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,Áo thun tay lỡ form rộng - phông nam nữ cotton...,79000,https://tka.tiki.vn/pixel/pixel?data=v3Il7m02H...,-37%,75.0,aonu,5925000.0
1,Áo thun nữ MXM form rộng cổ tim in chữ Love Va...,95000,https://tka.tiki.vn/pixel/pixel?data=GnottfnxV...,-73%,19.0,aonu,1805000.0
2,Áo thun nữ MXM cổ tròn form vừa in chữ Paris t...,89000,https://tka.tiki.vn/pixel/pixel?data=4vVOwr2M9...,-37%,123.0,aonu,10947000.0
3,Áo Sơ Mi Nữ Thời Trang JUNO Oversize Thân Sau ...,149000,https://tka.tiki.vn/pixel/pixel?data=ZukzilVp6...,-37%,4.0,aonu,596000.0
4,Áo thun tay lỡ form rộng - phông nam nữ cotton...,79000,https://tka.tiki.vn/pixel/pixel?data=CgPpxppoZ...,-37%,80.0,aonu,6320000.0
...,...,...,...,...,...,...,...
1004,"Áo trễ vai bánh bèo tiểu thư, áo trắng trần tr...",79000,https://tiki.vn/ao-tre-vai-banh-beo-tieu-thu-a...,NaN,54.0,aonu,4266000.0
1005,Áo Thun 3 Lỗ Nữ Khoét Vai Chất Vải Thun Cotton...,89100,https://tiki.vn/ao-thun-3-lo-nu-khoet-vai-chat...,NaN,5.0,aonu,445500.0
1006,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159000,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,NaN,84.0,aonu,13356000.0
1007,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135000,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,NaN,6.0,aonu,810000.0
1008,"Áo croptop họa tiết, áo nữ, áo kiểu croptop, á...",77000,https://tiki.vn/ao-croptop-hoa-tiet-ao-nu-ao-k...,NaN,3.0,aonu,231000.0

In [15]:
df_all.to_csv("tk_aonu_all_ed.csv")