In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_160124(12hdem)\thoitrangnam\aovest"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aovest.csv',
 'tk_aovest_all.ipynb',
 'tk_ttnam_aovest.ipynb',
 'tk_ttnam_aovest_npage.ipynb',
 'tk_ttnam_aovest_t10.csv',
 'tk_ttnam_aovest_t11.csv',
 'tk_ttnam_aovest_t12.csv',
 'tk_ttnam_aovest_t13.csv',
 'tk_ttnam_aovest_t14.csv',
 'tk_ttnam_aovest_t15.csv',
 'tk_ttnam_aovest_t16.csv',
 'tk_ttnam_aovest_t17.csv',
 'tk_ttnam_aovest_t18.csv',
 'tk_ttnam_aovest_t19.csv',
 'tk_ttnam_aovest_t2.csv',
 'tk_ttnam_aovest_t20.csv',
 'tk_ttnam_aovest_t21.csv',
 'tk_ttnam_aovest_t22.csv',
 'tk_ttnam_aovest_t23.csv',
 'tk_ttnam_aovest_t24.csv',
 'tk_ttnam_aovest_t25.csv',
 'tk_ttnam_aovest_t26.csv',
 'tk_ttnam_aovest_t27.csv',
 'tk_ttnam_aovest_t28.csv',
 'tk_ttnam_aovest_t29.csv',
 'tk_ttnam_aovest_t3.csv',
 'tk_ttnam_aovest_t30.csv',
 'tk_ttnam_aovest_t31.csv',
 'tk_ttnam_aovest_t32.csv',
 'tk_ttnam_aovest_t33.csv',
 'tk_ttnam_aovest_t34.csv',
 'tk_ttnam_aovest_t35.csv',
 'tk_ttnam_aovest_t36.csv',
 'tk_ttnam_aovest_t37.csv',
 'tk_ttnam_aovest_t38.csv',
 'tk_ttnam_aovest_t39.csv',
 'tk_ttnam_aovest_t4.csv',
 'tk_ttnam_aovest_t40.csv',
 'tk_ttnam_aovest_t41.csv',
 'tk_ttnam_aovest_t42.csv',
 'tk_ttnam_aovest_t43.csv',
 'tk_ttnam_aovest_t44.csv',
 'tk_ttnam_aovest_t45.csv',
 'tk_ttnam_aovest_t46.csv',
 'tk_ttnam_aovest_t47.csv',
 'tk_ttnam_aovest_t48.csv',
 'tk_ttnam_aovest_t49.csv',
 'tk_ttnam_aovest_t5.csv',
 'tk_ttnam_aovest_t50.csv',
 'tk_ttnam_aovest_t6.csv',
 'tk_ttnam_aovest_t7.csv',
 'tk_ttnam_aovest_t8.csv',
 'tk_ttnam_aovest_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aovest_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"Áo Khoác Dù Nam Phối Nón, Dù Thái Nhập Khẩu ( ...",209.000₫,https://tka.tiki.vn/pixel/pixel?data=ttLxQKAvK...,1,-38%,Đã bán 57,aovest
1,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139.000₫,https://tka.tiki.vn/pixel/pixel?data=ajwuGa0h3...,2,-39%,Đã bán 911,aovest
2,Áo khoác dù UV mẫu mới 2024 ( Tặng 1 áo khoác ...,199.000₫,https://tka.tiki.vn/pixel/pixel?data=pXxfOLTIM...,3,-33%,Đã bán 402,aovest
3,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=FFRTpY3-5...,4,-35%,Đã bán 11,aovest
4,"Áo khoác gió cách nhiệt GOKING có mũ, form uni...",255.000₫,https://tka.tiki.vn/pixel/pixel?data=-sVamluxw...,5,-31%,Đã bán 184,aovest
...,...,...,...,...,...,...,...
35,Áo Khoác Da Bomber Nam,175.000₫,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,36,NaN,Đã bán 41,aovest
36,Áo khoác dù nam 2 lớp thêu N,49.000₫,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,37,NaN,Đã bán 29,aovest
37,Áo Khoác Dạ Nam Trần Bông Áo Khoác Nam Có Mũ C...,790.000₫,https://tiki.vn/ao-khoac-da-nam-tran-bong-ao-k...,38,NaN,Đã bán 10,aovest
38,"áo khoác Bomber, Áo khoác bomber 2 lớp phối ...",99.000₫,https://tiki.vn/a-o-khoa-c-bomber-p162865525.h...,39,NaN,Đã bán 24,aovest
39,[HÀNG CHÍNH HÃNG] - TABALO MOUNTAIN JACKET 3IN...,1.100.000₫,https://tiki.vn/tabalo-mountain-jacket-3in1-p7...,40,NaN,Đã bán 1,aovest

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"Áo Khoác Dù Nam Phối Nón, Dù Thái Nhập Khẩu ( ...",209.000₫,https://tka.tiki.vn/pixel/pixel?data=ttLxQKAvK...,-38%,Đã bán 57,aovest
1,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139.000₫,https://tka.tiki.vn/pixel/pixel?data=ajwuGa0h3...,-39%,Đã bán 911,aovest
2,Áo khoác dù UV mẫu mới 2024 ( Tặng 1 áo khoác ...,199.000₫,https://tka.tiki.vn/pixel/pixel?data=pXxfOLTIM...,-33%,Đã bán 402,aovest
3,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=FFRTpY3-5...,-35%,Đã bán 11,aovest
4,"Áo khoác gió cách nhiệt GOKING có mũ, form uni...",255.000₫,https://tka.tiki.vn/pixel/pixel?data=-sVamluxw...,-31%,Đã bán 184,aovest
...,...,...,...,...,...,...
1259,Áo Khoác Da Bomber Nam,175.000₫,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,NaN,Đã bán 41,aovest
1260,Áo khoác dù nam 2 lớp thêu N,49.000₫,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,NaN,Đã bán 29,aovest
1261,Áo Khoác Dạ Nam Trần Bông Áo Khoác Nam Có Mũ C...,790.000₫,https://tiki.vn/ao-khoac-da-nam-tran-bong-ao-k...,NaN,Đã bán 10,aovest
1262,"áo khoác Bomber, Áo khoác bomber 2 lớp phối ...",99.000₫,https://tiki.vn/a-o-khoa-c-bomber-p162865525.h...,NaN,Đã bán 24,aovest
1263,[HÀNG CHÍNH HÃNG] - TABALO MOUNTAIN JACKET 3IN...,1.100.000₫,https://tiki.vn/tabalo-mountain-jacket-3in1-p7...,NaN,Đã bán 1,aovest

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0        209000
1        139000
2        199000
3        357500
4        255000
         ...
1259     175000
1260      49000
1261     790000
1262      99000
1263    1100000
Name: price, Length: 1264, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        57.0
1       911.0
2       402.0
3        11.0
4       184.0
        ...
1259     41.0
1260     29.0
1261     10.0
1262     24.0
1263      1.0
Name: sales, Length: 1264, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0        11913000.0
1       126629000.0
2        79998000.0
3         3932500.0
4        46920000.0
           ...
1259      7175000.0
1260      1421000.0
1261      7900000.0
1262      2376000.0
1263      1100000.0
Name: revenue, Length: 1264, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aovest: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aovest:  12839511584.0
So mat hang da ban:  1264
So san pham da ban:  60456.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"Áo Khoác Dù Nam Phối Nón, Dù Thái Nhập Khẩu ( ...",209000,https://tka.tiki.vn/pixel/pixel?data=ttLxQKAvK...,-38%,57.0,aovest,11913000.0
1,Áo khoác nam chống nắng gió thu đông Doka (DBL...,139000,https://tka.tiki.vn/pixel/pixel?data=ajwuGa0h3...,-39%,911.0,aovest,126629000.0
2,Áo khoác dù UV mẫu mới 2024 ( Tặng 1 áo khoác ...,199000,https://tka.tiki.vn/pixel/pixel?data=pXxfOLTIM...,-33%,402.0,aovest,79998000.0
3,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357500,https://tka.tiki.vn/pixel/pixel?data=FFRTpY3-5...,-35%,11.0,aovest,3932500.0
4,"Áo khoác gió cách nhiệt GOKING có mũ, form uni...",255000,https://tka.tiki.vn/pixel/pixel?data=-sVamluxw...,-31%,184.0,aovest,46920000.0
...,...,...,...,...,...,...,...
1259,Áo Khoác Da Bomber Nam,175000,https://tiki.vn/ao-khoac-da-bomber-nam-p466887...,NaN,41.0,aovest,7175000.0
1260,Áo khoác dù nam 2 lớp thêu N,49000,https://tiki.vn/ao-khoac-du-nam-2-lop-theu-n-p...,NaN,29.0,aovest,1421000.0
1261,Áo Khoác Dạ Nam Trần Bông Áo Khoác Nam Có Mũ C...,790000,https://tiki.vn/ao-khoac-da-nam-tran-bong-ao-k...,NaN,10.0,aovest,7900000.0
1262,"áo khoác Bomber, Áo khoác bomber 2 lớp phối ...",99000,https://tiki.vn/a-o-khoa-c-bomber-p162865525.h...,NaN,24.0,aovest,2376000.0
1263,[HÀNG CHÍNH HÃNG] - TABALO MOUNTAIN JACKET 3IN...,1100000,https://tiki.vn/tabalo-mountain-jacket-3in1-p7...,NaN,1.0,aovest,1100000.0

In [15]:
df_all.to_csv("tk_aovest_all_ed.csv")