In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_170124(12hdem) - Copy\thoitrangnam\aoni"
os.listdir(path)

['tk_aoni_all.ipynb',
 'tk_aoni_t1.csv',
 'tk_aoni_t10.csv',
 'tk_aoni_t11.csv',
 'tk_aoni_t12.csv',
 'tk_aoni_t13.csv',
 'tk_aoni_t14.csv',
 'tk_aoni_t15.csv',
 'tk_aoni_t16.csv',
 'tk_aoni_t17.csv',
 'tk_aoni_t18.csv',
 'tk_aoni_t19.csv',
 'tk_aoni_t2.csv',
 'tk_aoni_t20.csv',
 'tk_aoni_t21.csv',
 'tk_aoni_t3.csv',
 'tk_aoni_t4.csv',
 'tk_aoni_t5.csv',
 'tk_aoni_t6.csv',
 'tk_aoni_t7.csv',
 'tk_aoni_t8.csv',
 'tk_aoni_t9.csv',
 'tk_ttn_an.ipynb',
 'tk_ttn_an_npage.ipynb']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aoni_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"Áo Nỉ Nam Dài Tay 5S FASHION Cổ Tròn, Vải Cott...",214.000₫,https://tka.tiki.vn/pixel/pixel?data=Q_093L51a...,1,-35%,Đã bán 7,aoni
1,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn, Vải Cott...",189.000₫,https://tka.tiki.vn/pixel/pixel?data=c996vtCXR...,2,-43%,Đã bán 5,aoni
2,"Áo Nỉ Nam Cổ Tròn 5S FASHION Nhiều Màu, Vải Co...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=G9rGYxc7D...,3,-35%,Đã bán 2,aoni
3,"Áo Sweater Nỉ Nam 5S FASHION, Chất Cotton Mềm ...",199.000₫,https://tka.tiki.vn/pixel/pixel?data=h4y5lRsAd...,4,-40%,Đã bán 3,aoni
4,"Áo Sweater Nam 5S FASHION Chất Nỉ Dày Dặn, Pho...",266.000₫,https://tka.tiki.vn/pixel/pixel?data=FyKTmZyv7...,5,-35%,Đã bán 1,aoni
...,...,...,...,...,...,...,...
49,Áo Len Nam Cao Cổ Form Ôm Bs53,199.000₫,https://tiki.vn/ao-len-nam-cao-co-form-om-bs53...,50,NaN,Đã bán 21,aoni
50,Áo len nam cổ lọ lót lông BS31,350.000₫,https://tiki.vn/ao-len-nam-co-lo-lot-long-bs31...,51,NaN,Đã bán 8,aoni
51,ÁO KHOÁC LEN NAM 01,129.000₫,https://tiki.vn/ao-khoac-len-nam-01-p75998181....,52,NaN,Đã bán 5,aoni
52,Áo Len Nam Đẹp Vặn Thừng Cổ Lọ Thu Đông Cao Cấ...,378.000₫,https://tiki.vn/ao-len-nam-dep-van-thung-co-lo...,53,NaN,Đã bán 4,aoni
53,Áo Len Nam Cổ Lọ Loại Dày Bs67,250.000₫,https://tiki.vn/ao-len-nam-co-lo-loai-day-bs67...,54,NaN,Đã bán 11,aoni

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"Áo Nỉ Nam Dài Tay 5S FASHION Cổ Tròn, Vải Cott...",214.000₫,https://tka.tiki.vn/pixel/pixel?data=Q_093L51a...,-35%,Đã bán 7,aoni
1,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn, Vải Cott...",189.000₫,https://tka.tiki.vn/pixel/pixel?data=c996vtCXR...,-43%,Đã bán 5,aoni
2,"Áo Nỉ Nam Cổ Tròn 5S FASHION Nhiều Màu, Vải Co...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=G9rGYxc7D...,-35%,Đã bán 2,aoni
3,"Áo Sweater Nỉ Nam 5S FASHION, Chất Cotton Mềm ...",199.000₫,https://tka.tiki.vn/pixel/pixel?data=h4y5lRsAd...,-40%,Đã bán 3,aoni
4,"Áo Sweater Nam 5S FASHION Chất Nỉ Dày Dặn, Pho...",266.000₫,https://tka.tiki.vn/pixel/pixel?data=FyKTmZyv7...,-35%,Đã bán 1,aoni
...,...,...,...,...,...,...
1024,Áo Len Nam Cao Cổ Form Ôm Bs53,199.000₫,https://tiki.vn/ao-len-nam-cao-co-form-om-bs53...,NaN,Đã bán 21,aoni
1025,Áo len nam cổ lọ lót lông BS31,350.000₫,https://tiki.vn/ao-len-nam-co-lo-lot-long-bs31...,NaN,Đã bán 8,aoni
1026,ÁO KHOÁC LEN NAM 01,129.000₫,https://tiki.vn/ao-khoac-len-nam-01-p75998181....,NaN,Đã bán 5,aoni
1027,Áo Len Nam Đẹp Vặn Thừng Cổ Lọ Thu Đông Cao Cấ...,378.000₫,https://tiki.vn/ao-len-nam-dep-van-thung-co-lo...,NaN,Đã bán 4,aoni
1028,Áo Len Nam Cổ Lọ Loại Dày Bs67,250.000₫,https://tiki.vn/ao-len-nam-co-lo-loai-day-bs67...,NaN,Đã bán 11,aoni

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       214000
1       189000
2       259000
3       199000
4       266000
         ...
1024    199000
1025    350000
1026    129000
1027    378000
1028    250000
Name: price, Length: 1029, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        7.0
1        5.0
2        2.0
3        3.0
4        1.0
        ...
1024    21.0
1025     8.0
1026     5.0
1027     4.0
1028    11.0
Name: sales, Length: 1029, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       1498000.0
1        945000.0
2        518000.0
3        597000.0
4        266000.0
          ...
1024    4179000.0
1025    2800000.0
1026     645000.0
1027    1512000.0
1028    2750000.0
Name: revenue, Length: 1029, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aoni: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aoni:  5682710250.0
So mat hang da ban:  1029
So san pham da ban:  31983.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"Áo Nỉ Nam Dài Tay 5S FASHION Cổ Tròn, Vải Cott...",214000,https://tka.tiki.vn/pixel/pixel?data=Q_093L51a...,-35%,7.0,aoni,1498000.0
1,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn, Vải Cott...",189000,https://tka.tiki.vn/pixel/pixel?data=c996vtCXR...,-43%,5.0,aoni,945000.0
2,"Áo Nỉ Nam Cổ Tròn 5S FASHION Nhiều Màu, Vải Co...",259000,https://tka.tiki.vn/pixel/pixel?data=G9rGYxc7D...,-35%,2.0,aoni,518000.0
3,"Áo Sweater Nỉ Nam 5S FASHION, Chất Cotton Mềm ...",199000,https://tka.tiki.vn/pixel/pixel?data=h4y5lRsAd...,-40%,3.0,aoni,597000.0
4,"Áo Sweater Nam 5S FASHION Chất Nỉ Dày Dặn, Pho...",266000,https://tka.tiki.vn/pixel/pixel?data=FyKTmZyv7...,-35%,1.0,aoni,266000.0
...,...,...,...,...,...,...,...
1024,Áo Len Nam Cao Cổ Form Ôm Bs53,199000,https://tiki.vn/ao-len-nam-cao-co-form-om-bs53...,NaN,21.0,aoni,4179000.0
1025,Áo len nam cổ lọ lót lông BS31,350000,https://tiki.vn/ao-len-nam-co-lo-lot-long-bs31...,NaN,8.0,aoni,2800000.0
1026,ÁO KHOÁC LEN NAM 01,129000,https://tiki.vn/ao-khoac-len-nam-01-p75998181....,NaN,5.0,aoni,645000.0
1027,Áo Len Nam Đẹp Vặn Thừng Cổ Lọ Thu Đông Cao Cấ...,378000,https://tiki.vn/ao-len-nam-dep-van-thung-co-lo...,NaN,4.0,aoni,1512000.0
1028,Áo Len Nam Cổ Lọ Loại Dày Bs67,250000,https://tiki.vn/ao-len-nam-co-lo-loai-day-bs67...,NaN,11.0,aoni,2750000.0

In [15]:
df_all.to_csv("tk_aoni_all_ed.csv")