In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_170124(12hdem) - Copy\thoitrangnam\aovest"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aovest.csv',
 'tk_aovest_all.ipynb',
 'tk_ttnam_aovest.ipynb',
 'tk_ttnam_aovest_npage.ipynb',
 'tk_ttnam_aovest_t10.csv',
 'tk_ttnam_aovest_t11.csv',
 'tk_ttnam_aovest_t12.csv',
 'tk_ttnam_aovest_t13.csv',
 'tk_ttnam_aovest_t14.csv',
 'tk_ttnam_aovest_t15.csv',
 'tk_ttnam_aovest_t16.csv',
 'tk_ttnam_aovest_t17.csv',
 'tk_ttnam_aovest_t18.csv',
 'tk_ttnam_aovest_t19.csv',
 'tk_ttnam_aovest_t2.csv',
 'tk_ttnam_aovest_t20.csv',
 'tk_ttnam_aovest_t21.csv',
 'tk_ttnam_aovest_t22.csv',
 'tk_ttnam_aovest_t23.csv',
 'tk_ttnam_aovest_t24.csv',
 'tk_ttnam_aovest_t25.csv',
 'tk_ttnam_aovest_t26.csv',
 'tk_ttnam_aovest_t27.csv',
 'tk_ttnam_aovest_t28.csv',
 'tk_ttnam_aovest_t29.csv',
 'tk_ttnam_aovest_t3.csv',
 'tk_ttnam_aovest_t30.csv',
 'tk_ttnam_aovest_t31.csv',
 'tk_ttnam_aovest_t32.csv',
 'tk_ttnam_aovest_t33.csv',
 'tk_ttnam_aovest_t34.csv',
 'tk_ttnam_aovest_t35.csv',
 'tk_ttnam_aovest_t36.csv',
 'tk_ttnam_aovest_t37.csv',
 'tk_ttnam_aovest_t38.csv',
 'tk_ttnam_aovest_t39.csv',
 'tk_ttnam_aovest_t4.csv',
 'tk_ttnam_aovest_t40.csv',
 'tk_ttnam_aovest_t41.csv',
 'tk_ttnam_aovest_t42.csv',
 'tk_ttnam_aovest_t43.csv',
 'tk_ttnam_aovest_t44.csv',
 'tk_ttnam_aovest_t45.csv',
 'tk_ttnam_aovest_t46.csv',
 'tk_ttnam_aovest_t47.csv',
 'tk_ttnam_aovest_t48.csv',
 'tk_ttnam_aovest_t49.csv',
 'tk_ttnam_aovest_t5.csv',
 'tk_ttnam_aovest_t50.csv',
 'tk_ttnam_aovest_t6.csv',
 'tk_ttnam_aovest_t7.csv',
 'tk_ttnam_aovest_t8.csv',
 'tk_ttnam_aovest_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aovest_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=mMTl3cg70...,1,-35%,Đã bán 12,aovest
1,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519.000₫,https://tka.tiki.vn/pixel/pixel?data=8sB949C_v...,2,-48%,Đã bán 25,aovest
2,Áo len Nam Áo Cardigan nam chất liệu Len dệt c...,358.000₫,https://tka.tiki.vn/pixel/pixel?data=x_95Xtk9M...,3,-28%,Đã bán 3,aovest
3,"Áo vest,áo vest nam với chất POLY chéo hàn cao...",352.080₫,https://tka.tiki.vn/pixel/pixel?data=01O5HF7iz...,4,-30%,Đã bán 19,aovest
4,"Áo khoác cổ vest, áo khoác cổ vest nam T6 áo k...",276.500₫,https://tka.tiki.vn/pixel/pixel?data=oIYJL-vxI...,5,-31%,Đã bán 18,aovest
...,...,...,...,...,...,...,...
35,Áo khoác đen nam,10.000₫,https://tiki.vn/ao-khoac-den-nam-p253369322.ht...,36,NaN,NaN,aovest
36,Áo phao nam trẻ trung thời trang hàn quốc NAP38,830.000₫,https://tiki.vn/ao-phao-nam-tre-trung-thoi-tra...,37,NaN,NaN,aovest
37,Bộ vest nam 1 cúc màu ghi sáng cực sang DKA013...,687.000₫,https://tiki.vn/bo-vest-nam-1-cuc-mau-ghi-sang...,38,NaN,NaN,aovest
38,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300.000₫,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,39,NaN,Đã bán 22,aovest
39,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97.000₫,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,40,NaN,Đã bán 142,aovest

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357.500₫,https://tka.tiki.vn/pixel/pixel?data=mMTl3cg70...,-35%,Đã bán 12,aovest
1,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519.000₫,https://tka.tiki.vn/pixel/pixel?data=8sB949C_v...,-48%,Đã bán 25,aovest
2,Áo len Nam Áo Cardigan nam chất liệu Len dệt c...,358.000₫,https://tka.tiki.vn/pixel/pixel?data=x_95Xtk9M...,-28%,Đã bán 3,aovest
3,"Áo vest,áo vest nam với chất POLY chéo hàn cao...",352.080₫,https://tka.tiki.vn/pixel/pixel?data=01O5HF7iz...,-30%,Đã bán 19,aovest
4,"Áo khoác cổ vest, áo khoác cổ vest nam T6 áo k...",276.500₫,https://tka.tiki.vn/pixel/pixel?data=oIYJL-vxI...,-31%,Đã bán 18,aovest
...,...,...,...,...,...,...
1268,"Áo dạ nam - kiểu dáng hiện đại, style Hàn Quốc...",298.000₫,https://tiki.vn/ao-da-nam-kieu-dang-hien-dai-s...,NaN,Đã bán 37,aovest
1269,"Áo Vest nam, Áo khoác bò nam chất liêu 100 chấ...",350.000₫,https://tiki.vn/ao-vest-nam-ao-khoac-bo-nam-ch...,NaN,Đã bán 1,aovest
1270,Áo măng tô nam form rộng Sans22 khoác dạ blaze...,699.999₫,https://tiki.vn/ao-mang-to-nam-form-rong-sans2...,NaN,Đã bán 2,aovest
1271,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300.000₫,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,NaN,Đã bán 22,aovest
1272,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97.000₫,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,NaN,Đã bán 142,aovest

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       357500
1       519000
2       358000
3       352080
4       276500
         ...
1268    298000
1269    350000
1270    699999
1271    300000
1272     97000
Name: price, Length: 1273, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        12.0
1        25.0
2         3.0
3        19.0
4        18.0
        ...
1268     37.0
1269      1.0
1270      2.0
1271     22.0
1272    142.0
Name: sales, Length: 1273, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0        4290000.0
1       12975000.0
2        1074000.0
3        6689520.0
4        4977000.0
           ...
1268    11026000.0
1269      350000.0
1270     1399998.0
1271     6600000.0
1272    13774000.0
Name: revenue, Length: 1273, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aovest: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aovest:  11989533974.0
So mat hang da ban:  1273
So san pham da ban:  56399.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"áo vest nam phong cách Hàn quốc siêu ngầu, trư...",357500,https://tka.tiki.vn/pixel/pixel?data=mMTl3cg70...,-35%,12.0,aovest,4290000.0
1,"Áo Phao Chần Bông Nam 5S FASHION PREMIUM, Chất...",519000,https://tka.tiki.vn/pixel/pixel?data=8sB949C_v...,-48%,25.0,aovest,12975000.0
2,Áo len Nam Áo Cardigan nam chất liệu Len dệt c...,358000,https://tka.tiki.vn/pixel/pixel?data=x_95Xtk9M...,-28%,3.0,aovest,1074000.0
3,"Áo vest,áo vest nam với chất POLY chéo hàn cao...",352080,https://tka.tiki.vn/pixel/pixel?data=01O5HF7iz...,-30%,19.0,aovest,6689520.0
4,"Áo khoác cổ vest, áo khoác cổ vest nam T6 áo k...",276500,https://tka.tiki.vn/pixel/pixel?data=oIYJL-vxI...,-31%,18.0,aovest,4977000.0
...,...,...,...,...,...,...,...
1268,"Áo dạ nam - kiểu dáng hiện đại, style Hàn Quốc...",298000,https://tiki.vn/ao-da-nam-kieu-dang-hien-dai-s...,NaN,37.0,aovest,11026000.0
1269,"Áo Vest nam, Áo khoác bò nam chất liêu 100 chấ...",350000,https://tiki.vn/ao-vest-nam-ao-khoac-bo-nam-ch...,NaN,1.0,aovest,350000.0
1270,Áo măng tô nam form rộng Sans22 khoác dạ blaze...,699999,https://tiki.vn/ao-mang-to-nam-form-rong-sans2...,NaN,2.0,aovest,1399998.0
1271,Áo Khoác Nam 2 Lớp Lót Lông Thời Trang Cao Cấp...,300000,https://tiki.vn/ao-khoac-nam-2-lop-lot-long-th...,NaN,22.0,aovest,6600000.0
1272,"Áo khoác dù , áo khoác gió nam nữ mặc , áo kho...",97000,https://tiki.vn/ao-khoac-du-ao-khoac-gio-nam-n...,NaN,142.0,aovest,13774000.0

In [15]:
df_all.to_csv("tk_aovest_all_ed.csv")